@import 'variables';

@keyframes iconFadeIn {
	0% {
		bottom: $chat-icon-bottom;
		opacity: 0;
        right: 0;
	}
	40% {
        bottom: $chat-icon-bottom;
		opacity: 0.5;
        right: -30px;
	}
	60% {
        bottom: $chat-icon-bottom;
		opacity: 0.75;
        right: -60px;
	}
	100% {
        bottom: $chat-icon-bottom;
		opacity: 1;
        right: -90px;
	}
}
@keyframes iconFadeOut {
	0% {
		bottom: $chat-icon-bottom;
		opacity: 1;
        right: 0;
	}
	40% {
		bottom: $chat-icon-bottom - 5px;
		opacity: 0.75;
        right: 0;
	}
	60% {
		bottom: $chat-icon-bottom - 10px;
		opacity: 0.5;
        right: 0;
	}
	100% {
		bottom: $chat-icon-bottom - 15px;
		opacity: 0;
        right: 0;
	}
}
@keyframes mainChatFadeIn {
	0% {
		bottom: -0.75em;
		opacity: 0;
	}
	40% {
		bottom: -0.5em;
		opacity: 0.5;
	}
	60% {
		bottom: -0.25em;
		opacity: 0.75;
	}
	100% {
		bottom: 0;
		opacity: 1;
	}
}
@keyframes mainChatFadeOut {
	0% {
		bottom: 0;
		opacity: 1;
	}
	40% {
		bottom: -0.25em;
		opacity: 0.75;
	}
	60% {
		bottom: -0.5;
		opacity: 0.5;
	}
	100% {
		bottom: -0.75em;
		opacity: 0;
	}
}
@keyframes pulse {
	0% { box-shadow: 0 0 0 0 rgba(#2196f3, 0.05); }
	75% { box-shadow: 0 0 0 17px rgba(#2196f3, 0); }
	100% { box-shadow: 0 0 0 0 rgba(#2196f3, 0); }
}
@keyframes slideUp {
	0% { top: 35px; }
	100% { top: 0; }
}
@keyframes roll {
	0% {
		opacity: 1.0;
		transform: translateY(0);
	}
	20% {
		opacity: 0.5;
		transform: translateY(-0.25em);
	}
	40% {
		opacity: 1.0;
		transform: translateY(0);
	}
}
@keyframes wobble {
	0% { transform: rotate(-$wobble-deg); }
	50% { transform: rotate($wobble-deg); }
	100% { transform: rotate(-$wobble-deg); }
}