#chat,
.chat-modal {
    *:not(i) {
        font-family: 'Poppins';
    }

    .kt-separator {
        height: 0;
        margin: 20px 0;
        border-bottom: 1px solid #ebedf2;
    }

    .kt-separator.kt-separator--dashed {
        border-bottom: 1px dashed #ebedf2;
    }

    .kt-separator.kt-separator--border-solid {
        border-bottom: 1px solid #ebedf2;
    }

    .kt-separator.kt-separator--border-dashed {
        border-bottom: 1px dashed #ebedf2;
    }

    .kt-separator.kt-separator--border-2x {
        border-bottom-width: 2px;
    }

    .kt-separator.kt-separator--space-xs {
        margin: 0.5rem 0;
    }

    .kt-separator.kt-separator--space-sm {
        margin: 1rem 0;
    }

    .kt-separator.kt-separator--space-md {
        margin: 2rem 0;
    }

    .kt-separator.kt-separator--space-lg {
        margin: 2.5rem 0;
    }

    .kt-separator.kt-separator--space-xl {
        margin: 3rem 0;
    }

    .kt-separator.kt-separator--md {
        margin: 30px 0;
    }

    .kt-separator.kt-separator--lg {
        margin: 40px 0;
    }

    .kt-separator.kt-separator--xl {
        margin: 60px 0;
    }

    .kt-separator.kt-separator--sm {
        margin: 20px 0;
    }

    .kt-separator.kt-separator--fit {
        margin-left: -25px;
        margin-right: -25px;
    }

    .kt-separator.kt-separator--brand {
        border-bottom: 1px solid #5d78ff;
    }

    .kt-separator.kt-separator--brand.kt-separator--dashed {
        border-bottom: 1px dashed #5d78ff;
    }

    .kt-separator.kt-separator--light {
        border-bottom: 1px solid #ffffff;
    }

    .kt-separator.kt-separator--light.kt-separator--dashed {
        border-bottom: 1px dashed #ffffff;
    }

    .kt-separator.kt-separator--dark {
        border-bottom: 1px solid #282a3c;
    }

    .kt-separator.kt-separator--dark.kt-separator--dashed {
        border-bottom: 1px dashed #282a3c;
    }

    .kt-separator.kt-separator--primary {
        border-bottom: 1px solid #5867dd;
    }

    .kt-separator.kt-separator--primary.kt-separator--dashed {
        border-bottom: 1px dashed #5867dd;
    }

    .kt-separator.kt-separator--success {
        border-bottom: 1px solid #0abb87;
    }

    .kt-separator.kt-separator--success.kt-separator--dashed {
        border-bottom: 1px dashed #0abb87;
    }

    .kt-separator.kt-separator--info {
        border-bottom: 1px solid #5578eb;
    }

    .kt-separator.kt-separator--info.kt-separator--dashed {
        border-bottom: 1px dashed #5578eb;
    }

    .kt-separator.kt-separator--warning {
        border-bottom: 1px solid #ffb822;
    }

    .kt-separator.kt-separator--warning.kt-separator--dashed {
        border-bottom: 1px dashed #ffb822;
    }

    .kt-separator.kt-separator--danger {
        border-bottom: 1px solid #fd397a;
    }

    .kt-separator.kt-separator--danger.kt-separator--dashed {
        border-bottom: 1px dashed #fd397a;
    }

    .kt-input-icon {
        position: relative;
        padding: 0;
        width: 100%;
    }

    .kt-input-icon > .kt-input-icon__icon {
        position: absolute;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: 0;
        width: 3.2rem;
    }

    .kt-input-icon > .kt-input-icon__icon.kt-input-icon__icon--left {
        left: 0;
    }

    .kt-input-icon > .kt-input-icon__icon.kt-input-icon__icon--right {
        right: 0;
    }

    .kt-input-icon > .kt-input-icon__icon > span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
    }

    .kt-input-icon > .kt-input-icon__icon > span i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 0;
        color: #a7abc3;
    }

    .kt-input-icon > .kt-input-icon__icon [class^="la-"],
    .kt-input-icon > .kt-input-icon__icon [class*=" la-"] {
        font-size: 1.4em;
    }

    .kt-input-icon > .kt-input-icon__icon [class^="fa-"],
    .kt-input-icon > .kt-input-icon__icon [class*=" fa-"] {
        font-size: 1.2em;
    }

    .kt-input-icon > .kt-input-icon__icon [class^="flaticon-"],
    .kt-input-icon > .kt-input-icon__icon [class*=" flaticon-"],
    .kt-input-icon > .kt-input-icon__icon [class^="flaticon2-"],
    .kt-input-icon > .kt-input-icon__icon [class*=" flaticon2-"] {
        font-size: 1.3em;
    }

    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon {
        width: 4.2rem;
    }

    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class^="la-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class*=" la-"] {
        font-size: 1.6em;
    }

    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class^="fa-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class*=" fa-"] {
        font-size: 1.3em;
    }

    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class^="flaticon-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class*=" flaticon-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class^="flaticon2-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class*=" flaticon2-"] {
        font-size: 1.4em;
    }

    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon {
        width: 2.7rem;
    }

    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class^="la-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class*=" la-"] {
        font-size: 1.1em;
    }

    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class^="fa-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class*=" fa-"] {
        font-size: 1em;
    }

    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class^="flaticon-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class*=" flaticon-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class^="flaticon2-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class*=" flaticon2-"] {
        font-size: 1em;
    }

    .kt-input-icon.kt-input-icon--left .form-control {
        padding-left: 2.8rem;
    }

    .kt-input-icon.kt-input-icon--left .form-control.form-control-lg {
        padding-left: 3.6rem;
    }

    .kt-input-icon.kt-input-icon--left .form-control.form-control-sm {
        padding-left: 2.5rem;
    }

    .kt-input-icon.kt-input-icon--right .form-control {
        padding-right: 2.8rem;
    }

    .kt-input-icon.kt-input-icon--right .form-control.form-control-lg {
        padding-right: 3.6rem;
    }

    .kt-input-icon.kt-input-icon--right .form-control.form-control-sm {
        padding-right: 2.5rem;
    }

    .kt-input-icon.kt-input-icon--fixed {
        display: inline-block;
    }

    .kt-input-icon.kt-input-icon--fixed-large {
        display: inline-block;
    }

    .kt-input-icon.kt-input-icon--fixed-small {
        display: inline-block;
    }

    .kt-checkbox {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        text-align: left;
        cursor: pointer;
        font-size: 1rem;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .kt-checkbox.kt-checkbox--disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }

    .kt-checkbox > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .kt-checkbox > span {
        border-radius: 3px;
        background: none;
        position: absolute;
        top: 1px;
        left: 0;
        height: 18px;
        width: 18px;
    }

    .kt-checkbox > span:after {
        content: '';
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -6px;
        width: 5px;
        height: 10px;
        border-width: 0 2px 2px 0 /*rtl:ignore*/
        !important;
        -webkit-transform: rotate(45deg) /*rtl:ignore*/
    ;
        transform: rotate(45deg) /*rtl:ignore*/
    ;
    }

    .kt-checkbox > input:checked ~ span {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: none;
    }

    .kt-checkbox > input:checked ~ span:after {
        display: block;
    }

    .kt-checkbox:hover > input:not([disabled]):checked ~ span,
    .kt-checkbox > input:checked ~ span {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .kt-checkbox > input:disabled ~ span {
        opacity: 0.6;
        pointer-events: none;
    }

    .kt-checkbox.kt-checkbox--solid > span {
        border: 1px solid transparent;
    }

    .kt-checkbox.kt-checkbox--solid:hover > input:not([disabled]) ~ span,
    .kt-checkbox.kt-checkbox--solid > input:focus ~ span {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .kt-checkbox.kt-checkbox--square > span {
        border-radius: 0;
    }

    .kt-checkbox.kt-checkbox--bold > span {
        border-width: 2px !important;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .form-inline .kt-checkbox {
        margin-left: 15px;
        margin-right: 15px;
    }

    .kt-checkbox.kt-checkbox--single {
        width: 18px;
        height: 18px;
    }

    .kt-checkbox.kt-checkbox--single > span {
        top: 0px;
    }

    th > .kt-checkbox.kt-checkbox--single,
    td > .kt-checkbox.kt-checkbox--single {
        right: -5px;
    }

    .input-group .kt-checkbox {
        margin-bottom: 0 !important;
        padding-left: 0;
    }

    .kt-checkbox-list {
        padding: 0 0;
    }

    .form-horizontal .form-group .kt-checkbox-list {
        padding-top: 0;
    }

    .kt-checkbox-list .kt-checkbox {
        text-align: left;
        display: block;
    }

    .kt-checkbox-list .kt-checkbox:last-child {
        margin-bottom: 5px;
    }

    .kt-checkbox-inline {
        padding: 0 0;
    }

    .kt-checkbox-inline .kt-checkbox {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 5px;
    }

    .kt-checkbox-inline .kt-checkbox:last-child {
        margin-right: 0;
    }

    .form-group.row .kt-checkbox-inline {
        margin-top: 0.75rem;
    }

    .form-group.row .kt-checkbox-list {
        margin-top: 2px;
    }

    .kt-checkbox.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox > span {
        border: 1px solid #d1d7e2;
    }

    .kt-checkbox > span:after {
        border: solid #bfc7d7;
    }

    .kt-checkbox > input:disabled ~ span:after {
        border-color: #c8cfdd;
    }

    .kt-checkbox > input:checked ~ span {
        border: 1px solid #c8cfdd;
    }

    .kt-checkbox.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #c8cfdd;
    }

    .kt-checkbox > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--solid > span {
        background: #e4e8ee;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--solid > span:after {
        border: solid #99a6bf;
    }

    .kt-checkbox.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--solid > input:checked ~ span {
        background: #dee2ea;
    }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox.kt-checkbox--brand > span {
        border: 1px solid #5d78ff;
    }

    .kt-checkbox.kt-checkbox--brand > span:after {
        border: solid #5d78ff;
    }

    .kt-checkbox.kt-checkbox--brand > input:disabled ~ span:after {
        border-color: #5d78ff;
    }

    .kt-checkbox.kt-checkbox--brand > input:checked ~ span {
        border: 1px solid #5d78ff;
    }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #5d78ff;
    }

    .kt-checkbox.kt-checkbox--brand > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > span {
        background: #5d78ff;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > span:after {
        border: solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > input:checked ~ span {
        background: #5d78ff;
    }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox.kt-checkbox--light > span {
        border: 1px solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--light > span:after {
        border: solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--light > input:disabled ~ span:after {
        border-color: #ffffff;
    }

    .kt-checkbox.kt-checkbox--light > input:checked ~ span {
        border: 1px solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--light > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--solid > span {
        background: #ffffff;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--solid > span:after {
        border: solid #282a3c;
    }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--solid > input:checked ~ span {
        background: #ffffff;
    }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox.kt-checkbox--dark > span {
        border: 1px solid #282a3c;
    }

    .kt-checkbox.kt-checkbox--dark > span:after {
        border: solid #282a3c;
    }

    .kt-checkbox.kt-checkbox--dark > input:disabled ~ span:after {
        border-color: #282a3c;
    }

    .kt-checkbox.kt-checkbox--dark > input:checked ~ span {
        border: 1px solid #282a3c;
    }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #282a3c;
    }

    .kt-checkbox.kt-checkbox--dark > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--solid > span {
        background: #282a3c;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--solid > span:after {
        border: solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--solid > input:checked ~ span {
        background: #282a3c;
    }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox.kt-checkbox--primary > span {
        border: 1px solid #5867dd;
    }

    .kt-checkbox.kt-checkbox--primary > span:after {
        border: solid #5867dd;
    }

    .kt-checkbox.kt-checkbox--primary > input:disabled ~ span:after {
        border-color: #5867dd;
    }

    .kt-checkbox.kt-checkbox--primary > input:checked ~ span {
        border: 1px solid #5867dd;
    }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #5867dd;
    }

    .kt-checkbox.kt-checkbox--primary > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--solid > span {
        background: #5867dd;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--solid > span:after {
        border: solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--solid > input:checked ~ span {
        background: #5867dd;
    }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox.kt-checkbox--success > span {
        border: 1px solid #0abb87;
    }

    .kt-checkbox.kt-checkbox--success > span:after {
        border: solid #0abb87;
    }

    .kt-checkbox.kt-checkbox--success > input:disabled ~ span:after {
        border-color: #0abb87;
    }

    .kt-checkbox.kt-checkbox--success > input:checked ~ span {
        border: 1px solid #0abb87;
    }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #0abb87;
    }

    .kt-checkbox.kt-checkbox--success > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--solid > span {
        background: #0abb87;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--solid > span:after {
        border: solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--solid > input:checked ~ span {
        background: #0abb87;
    }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox.kt-checkbox--info > span {
        border: 1px solid #5578eb;
    }

    .kt-checkbox.kt-checkbox--info > span:after {
        border: solid #5578eb;
    }

    .kt-checkbox.kt-checkbox--info > input:disabled ~ span:after {
        border-color: #5578eb;
    }

    .kt-checkbox.kt-checkbox--info > input:checked ~ span {
        border: 1px solid #5578eb;
    }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #5578eb;
    }

    .kt-checkbox.kt-checkbox--info > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--solid > span {
        background: #5578eb;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--solid > span:after {
        border: solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--solid > input:checked ~ span {
        background: #5578eb;
    }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox.kt-checkbox--warning > span {
        border: 1px solid #ffb822;
    }

    .kt-checkbox.kt-checkbox--warning > span:after {
        border: solid #ffb822;
    }

    .kt-checkbox.kt-checkbox--warning > input:disabled ~ span:after {
        border-color: #ffb822;
    }

    .kt-checkbox.kt-checkbox--warning > input:checked ~ span {
        border: 1px solid #ffb822;
    }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #ffb822;
    }

    .kt-checkbox.kt-checkbox--warning > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--solid > span {
        background: #ffb822;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--solid > span:after {
        border: solid #111111;
    }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--solid > input:checked ~ span {
        background: #ffb822;
    }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--disabled {
        opacity: 0.7;
    }

    .kt-checkbox.kt-checkbox--danger > span {
        border: 1px solid #fd397a;
    }

    .kt-checkbox.kt-checkbox--danger > span:after {
        border: solid #fd397a;
    }

    .kt-checkbox.kt-checkbox--danger > input:disabled ~ span:after {
        border-color: #fd397a;
    }

    .kt-checkbox.kt-checkbox--danger > input:checked ~ span {
        border: 1px solid #fd397a;
    }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #fd397a;
    }

    .kt-checkbox.kt-checkbox--danger > input:disabled ~ span {
        opacity: 0.6;
    }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--solid > span {
        background: #fd397a;
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--solid > span:after {
        border: solid #ffffff;
    }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important;
    }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--solid > input:checked ~ span {
        background: #fd397a;
    }


    // Overrides

    #threadSearch {
        font-size: 15px;
    }

    .chat-thread-body-welcome-container {
        h2 {
            color: #646c9a;
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
        }
    }

    .chat-threads-loader {
        span {
            color: #646c9a;
            font-size: 15px;
            font-weight: 400;
        }
    }

    .chat-left-panel__button {
        padding: 10px 12px;
        font-size: 13.125px;
        font-weight: 500;
    }

    .chat-threads * {
        color: #646c9a;
    }

    .chat-thread-body-history-item {
        $this: &;

        * {
            color: #646c9a;
        }

        &-sender {
            .chat-thread-body-history-item-message {
                color: #ffffff !important;
            }
        }
    }

    label {
        color: #646c9a;
        font-size: 15px;
        font-weight: 600;
    }

    .add-member-list-container,
    .view-member-list-container {
        * {
            color: #646c9a;
        }
    }

    .modal-title {
        font-size: 19.5px;
    }

    .modal .btn {
        font-size: 14px;
        padding: 9.5px 15px !important;

        i {
            font-size: 18px;
            padding-right: 7.5px;
            vertical-align: middle;
        }
    }

    .modal .close {
        padding: 18.75px;
    }

    #confirm-remove-form.modal .modal-body {
        color: #646c9a;
        font-size: 15px;
        line-height: 22.5px;
        padding: 18.75px;
    }

    .chat-thread-footer-message {
        color: #a7abc3;
        line-height: 22.5px;
        font-size: 15px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .input-group {
        .btn {
            margin: 0;

            i {
                font-size: 18px;
                padding-right: 7.5px;
                vertical-align: middle;
            }
        }
    }
}