// Colors vars
$fiberpos-colors: (
	'primary': #5867dd,
	'secondary': #e1e1ef,
	'info': #5578eb,
	'success': #0abb87,
	'danger': #fd397a,
	'warning': #ffb822,
	'light': #f8f9fa,
	'dark': #343a40,
	'body': #646c9a,
);

// Fonts vars
$rem-base: 16px;

// Animation vars
$chatAnimationDuration: .22s !default;
$wobble-deg: 5deg;
$chat-icon-bottom: 25px !default;
$borders: fiberpos-color();