<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>fiberpos-chat</title>
</head>
<body>
<div id="chat">
<!--	<fiberpos-chat-->
<!--		:logged-user-id="'{{ app.user.id | raw }}'"-->
<!--		:pusher-app-id="'{{ pusher_app_id | raw }}'"-->
<!--		:pusher-key="'{{ pusher_key | raw }}'"-->
<!--		:pusher-secret="'{{ pusher_secret | raw }}'"-->
<!--		:pusher-cluster="'{{ pusher_cluster | raw }}'"-->
<!--		:can-add-groups="'{{ app.user.hasAccess('gist_chat.create_group') | raw }}'"-->
<!--		:can-manage-groups="'{{ app.user.hasAccess('gist_chat.manage_group') | raw }}'"-->
<!--		:profile-picture="'{{ app.user.getProfilePicture ? app.user.getProfilePicture.getURL : '/bundles/gisttemplate/assets/admin/layout/img/user_avatar.jpg' | raw }}'"-->
<!--	></fiberpos-chat>-->
</div>
<script src="/dist/fiberpos-chat.min.js"></script>
</body>
</html>
