<template>
    <b-modal
        ref="refViewGroupForm"
        id="view-group-form"
        @shown="onModalShow"
        @hidden="onModalHidden"
        no-close-on-backdrop
        no-close-on-esc
    >
        <template slot="modal-header" slot-scope="{ hide }">
            <h4 class="modal-title">
                <i class="fa fa-user-friends mr-1"></i> Chat Group - {{ currentThread.thread_name }}
            </h4>
            <button type="button" class="close" @click="hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </template>

        <template slot="default">
            <form class="chat-modal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div :class="{
                                    'col-md-6' : !canModifyGroup(),
                                    'col-md-4' : canModifyGroup()
                                }"
                            >
                                <label>Group Photo</label>
                                <div class="view-group-photo-container">
                                    <chat-cropper for-element="group_avatar">
                                        <div class="view-group-photo">
                                            <chat-image-box
                                                ref="refChatGroupIcon"
                                                image-id="c-group_avatar"
                                                class="view-group-photo__avatar-image"
                                                width="36px"
                                                height="36px"
                                                :src="getImageUrl(currentThread.img_url)"
                                            />
                                            <span class="view-group-photo__overlay"><i class="fa fa-redo"></i></span>
                                        </div>
                                    </chat-cropper>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group m-0" v-show="canModifyGroup()">
                                    <label>Group Name</label>
                                    <input
                                        ref="refGroupName"
                                        type="text"
                                        maxlength="30"
                                        v-model="groupName"
                                        class="form-control"
                                        placeholder="Enter Group name"
                                        :disabled="isSaving"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="kt-separator kt-separator--border-dashed kt-separator--space-sm kt-separator--portlet-fit">
                </div>

                <div class="col-12 p-0 pb-2">
                    <div class="form-group m-0">
                        <label>Search Participants</label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input ref="refMemberSearch"
                                   type="text"
                                   class="form-control"
                                   placeholder="Search..."
                                   v-model="memberSearch"
                                   @keyup.prevent="searchMember"
                            >
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                    <span>
                      <i :class="{
                            'fa fa-search': !checkIsSearching,
                            'fa fa-spinner fa-spin': checkIsSearching
                          }"
                      ></i></span>
                  </span>
                        </div>
                    </div>
                </div>

                <div class="view-member-list-container">
                    <div class="view-member-list-search-loader" v-if="checkIsSearching">
                        <span><i class="fa fa-spinner fa-spin m-0"></i></span>
                        <span>Loading...</span>
                    </div>

                    <ul ref="refViewMemberList" class="view-member-list" v-if="!checkIsSearching">
                        <li class="view-member-list-item"
                            :class="{
                                'view-member-list-item--is-selected': member.is_selected
                            }"
                            :data-member-id="member.id"
                            v-for="(member, key) in this.currentThread.members"
                            @mouseover="tooltip($event)"
                        >
                            <div class="view-member-list-item__information-wrapper">
                                <div class="view-member-list-item__information"
                                     :class="{
                                        'view-member-list-item__information--default' : isDefaultGroup
                                     }"
                                >
                                    <div class="row">
                                        <div class="col-md-3">
                                            <chat-image-box
                                                class="view-member-list-item__information-image"
                                                width="96px"
                                                height="96px"
                                                :src="getImageUrl(member.img_url)"
                                            />
                                        </div>
                                        <div class="col-md-9 view-member-list-item__information-details">
                                            <h5>{{ member.name }}</h5>
                                            <div><strong>Position:</strong> {{ member.position || "" }}</div>
                                            <div><strong>Department:</strong> {{ member.department || "" }}</div>
                                            <div><strong>Area:</strong> {{ member.area || "" }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="view-member-list-item-wrapper">
                                <div class="view-member-list-item__checkbox" v-show="canModifyGroup()"
                                >
                                    <label class="kt-checkbox" v-show="!isSaving">
                                        <input type="checkbox"
                                               :value="member.id"
                                               v-model="selectedMembers"
                                               v-show="canManageGroups"
                                        />
                                        <span></span>
                                    </label>
                                </div>

                                <div class="view-member-list-item__image-container">
                                    <chat-image-box
                                        class="view-member-list-item__image"
                                        width="36px"
                                        height="36px"
                                        :src="getImageUrl(member.img_url)"
                                    />
                                </div>

                                <div class="view-member-list-item__contact-name">
                                    {{ member.name }}
                                    <div class="view-member-list-item__contact-badge" v-show="isCreator(member.id)">
                                        Creator
                                    </div>
                                </div>

                                <div class="view-member-list-item__check-container"
                                     v-if="!selectedMembers.length"
                                     v-show="canManageGroups && canModifyGroup()"
                                >
									<span
                                        class="view-member-list-item__check-confirm"
                                        style="display: none"
                                    >Are you sure?
									  <span class="btn btn-sm btn-success"
                                            @click="removeParticipant(member.id, $event)">
                                          <span class="text-light" v-show="!isRemovingParticipant">Yes</span>
                                          <span class="text-light" v-show="isRemovingParticipant">Deleting...</span>
                                      </span> /
									  <span class="btn btn-sm btn-danger"
                                            @click="hideConfirm(member.id, $event)">No</span>
									</span>

                                    <i class="fa fa-times-circle text-danger"
                                       :title="`Remove ${member.name}`"
                                       :data-member-id="member.id"
                                       v-show="!isSaving"
                                       @click.prevent="showConfirm(member.id, $event)"
                                    ></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </template>

        <template slot="modal-footer" slot-scope="{ hide }" v-show="canModifyGroup()">
            <b-button
                name="remove_selected"
                id="remove_selected"
                variant="danger"
                v-if="membersSelected.length && canManageGroups"
                @click="confirmRemoveSelected($event)"
                :disabled="isSaving"
            >
                <i class="fa fa-minus-circle"></i> Remove Selected
            </b-button>

            <b-button
                variant="success"
                v-b-modal.add-members-form
                v-if="canModifyGroup()"
                @click="clearAndHideModal"
                :disabled="isSaving"
            >
                <i class="fa fa-user-friends"></i> Add members
            </b-button>

            <b-button
                name="save_all"
                id="save_all"
                variant="primary"
                v-if="canModifyGroup()"
                :disabled="!groupName.length || isSaving"
                @click="saveAll($event)"
            >
                <span v-show="!isSaving"><i class="fa fa-save"></i> Save</span>
                <span v-show="isSaving"><i class="fa fa-spinner fa-spin p-0"></i> Saving...</span>
            </b-button>
        </template>
    </b-modal>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {
        removeUsersFromThread as apiRemoveUsersFromThread,
        getThreadUsers as apiGetThreadUsers,
        updateGroupChat as apiUpdateGroupChat
    } from "../assets/api/resources";
    import * as types from '../store/mutation-types';
    import mixin from '../mixins';
    import ChatCropper from './ChatCropper';
    import ChatImageBox from './ChatImageBox';
    import {DEFAULT_MAIN_CHAT_ICON} from '../assets/js/utility/blob-images';

    export default {
        name: "ChatMainModalViewGroup",
        components: {
            ChatCropper,
            ChatImageBox
        },
        data() {
            return {
                isTypingTimeout: false,
                isSearching: false,
                groupName: '',
                memberSearch: '',
                selectedMembers: [],
                defaultMainChatIcon: DEFAULT_MAIN_CHAT_ICON,
                isSaving: false,
                isRemovingParticipant: false
            }
        },
        computed: {
            ...mapGetters({
                loggedUserId: 'loggedUserId',
                currentThread: 'currentThread',
                participants: 'participants',
                typingTimeout: 'typingTimeout',
                canAddGroups: 'canAddGroups',
                canManageGroups: 'canManageGroups',
                membersSelected: 'membersSelected',
                currentThreadMemberIDs: 'currentThreadMemberIDs',
                isDisconnected: 'isDisconnected',
            }),
            checkIsSearching() {
                return this.isSearching === true
            },
            isDefaultGroup() {
                return this.currentThread.thread_type > 3;
            },
        },
        mounted() {
        },
        methods: {
            onModalShow() {
                let _self = this;

                _self.selectedMembers = [];
                _self.groupName = _self.currentThread.thread_name;
                _self.$refs.refGroupName.focus();
                _self.searchApi(null);
            },
            onModalHidden() {
                let _self = this;

                _self.memberSearch = '';
                _self.groupName = '';
                window.sessionStorage.removeItem('fiberpos_cropped_image_group_avatar');
            },
            canModifyGroup() {
                return this.loggedUserId == this.currentThread.user_creator_id;
            },
            isCreator(id) {
                return id == this.currentThread.user_creator_id;
            },
            hideThisModal() {
                this.$bvModal.hide('view-group-form');
            },
            searchApi(searchText = null) {
                let data = {
                    threadId: this.currentThread.id,
                    filter: searchText
                };

                apiGetThreadUsers(data, ({responseData}) => {
                    let dataUpdate = {
                        threadId: responseData.threadId,
                        members: responseData.members
                    };

                    this.$store.commit(types.UPDATE_THREAD_MEMBERS, dataUpdate);
                });
            },
            searchMember() {
                this.isSearching = true;
                clearTimeout(this.isTypingTimeout);
                this.isTypingTimeout = setTimeout(() => {
                    this.searchApi(this.memberSearch);
                    this.isSearching = false;
                }, this.typingTimeout)
            },
            confirmRemoveSelected() {
                // Show Confirm Dialog, Hide Group Chat Info
                this.$bvModal.hide('view-group-form');
                this.$bvModal.show('confirm-remove-form');
            },
            showConfirm(id, e) {
                let element = document.querySelector('i[data-member-id="' + id + '"]');
                if (element.previousElementSibling.classList.contains('show-confirm')) {
                    element.previousElementSibling.classList.remove('show-confirm');
                    element.previousElementSibling.setAttribute('style', 'display: none');
                    return;
                }
                element.parentElement.previousElementSibling.classList.add('view-member-list-item__contact-name--is-active');
                element.previousElementSibling.classList.add('show-confirm');
                element.previousElementSibling.setAttribute('style', 'display: block');
                e.target.style.display = 'none';
            },
            hideConfirm(id, e) {

                e.target.parentElement.parentElement.previousElementSibling.classList.remove('view-member-list-item__contact-name--is-active');
                e.target.parentElement.classList.remove('show-confirm');
                e.target.parentElement.setAttribute('style', 'display: none');
                e.target.parentElement.nextElementSibling.setAttribute('style', 'display: block');
            },
            removeParticipant(id, e) {
                this.isRemovingParticipant = true;

                let data = {
                    userId: this.loggedUserId,
                    threadId: this.currentThread.id,
                    threadParticipantIDs: [id]
                };

                let hideThisModal = false;
                if (this.currentThreadMemberIDs.some(eId => eId == this.loggedUserId)) {
                    hideThisModal = true;
                }

                apiRemoveUsersFromThread(data, ({responseData}) => {
                    this.hideConfirm(id, e);
                    if (hideThisModal) {
                        this.hideThisModal();
                    }
                    this.isRemovingParticipant = false;
                });
            },
            toggleSubmitStatus(status) {
                if (status) {
                    this.isSaving = true;
                    return;
                }
                this.isSaving = false
            },
            saveAll(e) {
                let _self = this;

                _self.toggleSubmitStatus(true);

                if (!this.groupName) {
                    _self.showToastError('Error', 'Group Name is required and cannot be empty');
                    _self.toggleSubmitStatus(false);
                    return;
                }

                let imageFile = window.sessionStorage.getItem('fiberpos_cropped_image_group_avatar');

                setTimeout(() => {
                    let data = {
                        threadId: _self.currentThread.id,
                        newName: _self.groupName,
                        userId: _self.loggedUserId,
                        imageFile: imageFile ? JSON.parse(imageFile) : null
                    };

                    apiUpdateGroupChat(data, ({responseData}) => {
                        let dataUpdate = {
                            threadId: responseData.threadId,
                            newName: responseData.newName
                        };

                        _self.$store.commit(types.UPDATE_THREAD_NAME, dataUpdate);
                        _self.showToastSuccess('Success', 'Changes were successfully saved.');
                        _self.clearAndHideModal();
                        _self.toggleSubmitStatus(false);
                    });
                }, 250);
            },
            tooltip(e) {
                let body = this.$refs.refViewMemberList.getBoundingClientRect();
                let element = e.target.closest('li');
                let offsetTop = element.getBoundingClientRect().top - body.top;
                let offsetLeft = element.getBoundingClientRect().left - body.left;
                let wrapper = e.target.closest('li').children[0];

                wrapper.style.top = `${offsetTop + Math.round(element.getBoundingClientRect().width * 0.132)}px`;
                wrapper.style.left = offsetLeft + 15;
            },
            clearMembersSelected() {
                this.$store.commit(types.RESET_MEMBERS_SELECTED);
                this.selectedMembers = []
            },
            clearAndHideModal() {
                this.clearMembersSelected();
                this.hideThisModal();
            }
        },
        watch: {
            selectedMembers(val) {
                if (val.length) {
                    this.$store.commit(types.SET_MEMBERS_SELECTED, val);
                }
            },
            isDisconnected(status) {
                if (status) {
                    this.$refs['refViewGroupForm'].hide();
                }
            }
        },
        mixins: [mixin]
    }
</script>

<style scoped lang="scss">
    @import '../assets/scss/chat';

    .view-member-list {
        height: 100%;
        list-style: none;
        margin: 0;
        overflow-y: auto;
        padding: 0;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 4px;
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        &-container {
            height: 40vh;
            position: relative;
        }

        &-search-loader,
        &-search__empty {
            align-items: center;
            display: flex;
            height: 100%;
            font-size: 16px;
            justify-content: center;
            text-align: center;
        }

        &-item {
            $item: &;
            clear: both;
            cursor: pointer;
            height: 60px;
            padding: 0;
            position: static;
            user-select: none;

            &-wrapper {
                border-bottom: 1px dashed gray;
                display: block;
                line-height: 60px;
                position: relative;
                width: 100%;
            }

            &:hover > #{$item}__information-wrapper {
                display: block;
            }

            &--is-selected {
                background: #f1f0f0;
            }

            &__checkbox {
                display: inline-block;
                position: relative;
                top: -2px;
                width: 30px;
            }

            &__image {
                border: 1px solid $borders;
                border-radius: 50%;

                &-container {
                    display: inline-block;
                    line-height: 1;
                    position: relative;
                    vertical-align: middle;
                }
            }

            &__contact-name {
                display: inline-block;
                font-size: 20px;
                line-height: 1;
                margin-left: 10px;
                max-width: 340px;
                overflow: hidden;
                position: relative;
                text-overflow: ellipsis;
                top: 8px;
                white-space: nowrap;
                width: 100%;

                &--is-active {
                    max-width: 145px;
                }
            }

            &__contact-badge {
                background: #646c9a;
                border-radius: 5px;
                color: #fff !important;
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                padding: 5px;
                position: relative;
                right: -15px;
                text-align: center;
            }

            &__check-container {
                position: absolute;
                font-size: 23px;
                line-height: 1;
                right: 10px;
                top: 21px;

                .btn {
                    color: #fff !important;
                    margin: 0;
                    padding: 7.5px 15px !important;
                }

                i {
                    cursor: pointer;
                }
            }

            &__information {
                -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                background: rgba(255, 255, 255, .95);
                border: 1px solid $borders;
                box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                padding: 10px;
                width: 465px;

                &:before,
                &:after {
                    border: solid transparent;
                    bottom: 100%;
                    content: " ";
                    height: 0;
                    left: 11%;
                    position: absolute;
                    pointer-events: none;
                    width: 0;
                }

                &:after {
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #fff;
                    border-width: 14px;
                    margin-bottom: -1px;
                    margin-left: -14px;
                }

                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: $borders;
                    border-width: 14px;
                    margin-left: -14px;
                }

                &--default {
                    &:before,
                    &:after {
                        left: 18px !important;
                    }
                }

                &-wrapper {
                    display: none;
                    position: absolute;
                    z-index: 9;
                }

                &-image {
                    border: 1px solid $borders;
                    height: 96px;
                    width: 96px;
                }

                &-details {
                    font-size: 13px;
                    padding-top: 5px;

                    div {
                        line-height: 1.4;
                    }
                }
            }

            &__check-confirm {
                cursor: pointer;
                font-size: 14px;
                position: relative;
                top: -4px;

                span:first-child {
                    margin-left: 5px;
                }
            }

        }
    }

    .view-group-photo {
        $photo-size: 36px;

        position: relative;
        width: $photo-size;

        %group-photo {
            border-radius: 50%;
            height: $photo-size;
            width: $photo-size;
        }

        &__avatar-image {
            border-radius: 50%;
        }

        &__button {
            @extend %group-photo;

            background: transparent;
            border: 2px solid gray;
        }

        &__overlay {
            align-items: center;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 50%;
            color: #fff;
            display: flex;
            height: 100%;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            width: 100%;
        }

        &:hover > &__overlay {
            visibility: visible;
        }
    }
</style>
