<template>
    <div
        ref="chatMainBody"
        class="row chat-main-body"
        :class="{
         'chat-main-body--fade-in': isChatOpen === true
      }"
        v-show="isChatOpen === true"
    >
        <chat-main-body-left-panel
            ref="chatMainBodyLeftPanel"
            :threads="threads"
        />
        <chat-main-body-right-panel
            ref="chatMainBodyRightPanel"
            :threads="threads"
            :emoji-text="emojiText"
        />

        <div class="chat-overlay--no-connection" v-show="isDisconnected">
            <div class="chat-overlay__connection-message box-shadow">
                <div>
                    <div>You have no internet connection.</div>
                    <span ref="refConnectionCounter" class="chat-overlay__connection-retry">
                        Retrying to reconnect in <span
                        class="chat-overlay__connection-counter">{{ retryCounter/1000 }}</span>
                    </span>
                    <span ref="refRetryMessage" class="chat-overlay__connection-retry d-none"></span>
                </div>

                <div>
                    <button
                        class="btn btn-primary"
                        @click="reconnectNow"
                        :disabled="isConnecting"
                    >
                        <i class="fas fa-redo"></i>Reconnect
                    </button>
                    <button
                        class="btn btn-danger"
                        @click="closeChatbox"
                    >
                        <i class="fas fa-minus"></i>Minimize Chat
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ChatMainBodyLeftPanel from "./ChatMainBodyLeftPanel";
    import ChatMainBodyRightPanel from "./ChatMainBodyRightPanel";
    import {mapGetters} from 'vuex';
    import mixin from "../mixins";

    const retryTime = 10000; // in milliseconds

    export default {
        name: "ChatMainBody",
        components: {
            ChatMainBodyLeftPanel,
            ChatMainBodyRightPanel,
        },
        props: {
            companyUrl: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                emojiText: '',
                retryCounter: retryTime,
                retryInterval: 0,
                retryTimeout: 0,
                isConnecting: false
            }
        },
        computed: {
            ...mapGetters({
                threads: 'threads',
                isChatOpen: 'isChatOpen',
                isDisconnected: 'isDisconnected',
            })
        },
        mounted() {
            this.$root.$on('loadMoreMessages', append => {
                if (append) {
                    document.querySelector('.chat-thread-body-load-more').style.display = 'block';
                }
                setTimeout(() => {
                    document.querySelector('.chat-thread-body-load-more').style.display = 'none';
                }, 3000)
            });
        },
        methods: {
            startRetryCountdown(isDisconnected) {
                let _self = this;

                _self.retryCounter = retryTime;
                _self.retryInterval = 0;
                _self.retryTimeout = 0;
                _self.isConnecting = false;

                _self.$refs['refConnectionCounter'].classList.remove('d-none');
                _self.$refs['refRetryMessage'].classList.remove('text-danger');
                _self.$refs['refRetryMessage'].classList.add('d-none');

                if (isDisconnected) {
                    this.retryInterval = setInterval(() => {
                        _self.retryCounter -= 1000;
                        if (_self.retryCounter === 0) {
                            clearInterval(_self.retryInterval);
                            _self.retryConnection();
                        }
                    }, 1000);
                }
            },
            retryConnection() {
                let _self = this;

                _self.$refs['refConnectionCounter'].classList.add('d-none');
                _self.$refs['refRetryMessage'].classList.remove('d-none');
                _self.$refs['refRetryMessage'].innerText = 'Retrying...';
                _self.isConnecting = true;

                _self.retryTimeout = setTimeout(() => {
                    this.checkInternetConnection(_self.companyUrl).then((status) => {
                        if (!status) {
                            _self.$refs['refRetryMessage'].innerText = 'Reconnection failed';
                            _self.$refs['refRetryMessage'].classList.add('text-danger');

                            let countdown = setTimeout(() => {
                                _self.startRetryCountdown(true);
                                clearTimeout(countdown);
                            }, 2000);

                            return;
                        }

                        _self.setDisconnectedStatus(false);
                        _self.$parent.initializeAll();
                        _self.$parent.checkConnectionInterval();
                        _self.isConnecting = false;
                    });
                }, 1000);
            },
            reconnectNow() {
                clearInterval(this.retryInterval);
                this.retryConnection();
            }
        },
        mixins: [mixin]
    };
</script>

<style scoped lang="scss">
    @import '../assets/scss/chat';

    .chat-main-body {
        background: #fff;
        border-bottom: solid 1px #adadad;
        border-top-left-radius: 8px;
        bottom: 0;
        border-top-right-radius: 8px;
        right: 35px;
        height: 468px;
        position: fixed;
        width: 750px;
        z-index: 3;

        @media all and (max-width: 790px) {
            right: 20px;
        }

        @media all and (max-width: 768px) {
            right: 15px;
        }

        &--fade-out {
            animation: mainChatFadeOut $chatAnimationDuration ease-in-out;
        }

        &--fade-in {
            animation: mainChatFadeIn $chatAnimationDuration ease-in-out;
        }

        @media only screen and (max-width: 767px) {
            height: 100%;
            top: 50px;
            width: 100%;
        }
    }

    .chat-overlay {
        &__connection {
            &-message {
                background: #fff;
                font-size: 2rem;
                margin-bottom: 12px;
                padding: 50px;
                text-align: center;
            }

            &-retry {
                font-size: 1.25rem
            }
        }

        &--no-connection {
            align-items: center;
            background: rgba(255, 255, 255, 0.65);
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            position: absolute;
            width: 100%;
        }
    }
</style>
