<template>
    <div ref="refCropper">
		<span @click="$refs.fileInput.click()">
			<slot></slot>
		</span>
        <input
            ref="fileInput"
            name="imgFile"
            accept="image/*"
            type="file"
            class="d-none"
            @change="setImage"
        />

        <b-modal
            ref="refImageCropper"
            class="modal-cropper"
            size="lg"
            :id="`modalCropper_${forElement}`"
            @shown="onModalShow"
            @hidden="onModalHidden"
            no-close-on-backdrop
            no-close-on-esc
        >
            <template slot="modal-header" slot-scope="{ hide }">
                <h5 class="modal-cropper__title">
                    <i class="fa fa-photo-video"></i>Image Cropper
                </h5>
            </template>

            <template slot="default">
                <div class="row">
                    <div class="col-md-8 border-right">
                        <vue-cropper
                            ref='cropper'
                            drag-mode="crop"
                            preview=".preview"
                            alt="Source Image"
                            :guides="true"
                            :view-mode="2"
                            :src="imgSrc"
                            :responsive="true"
                            :auto-crop-area="0.75"
                            :min-container-width="180"
                            :min-container-height="180"
                            :background="true"
                            :rotatable="false"
                            :aspectRatio="1 / 1"
                            :img-style="{ 'width': '400px', 'height': '400px' }"
                        ></vue-cropper>
                    </div>
                    <div class="col-md-4">
                        <div v-show="!cropImg.length">
                            <h4>Image Preview:</h4>
                            <div class="preview img-fluid"></div>
                        </div>
                        <div v-show="cropImg.length">
                            <h4>Cropped Image:</h4>
                            <img class="img-fluid w-100" :src="cropImg" v-if="cropImg.length">
                        </div>
                    </div>
                </div>
            </template>

            <template slot="modal-footer" slot-scope="{ hide }">
                <b-button size="md" variant="primary" :disabled="isUploading" v-if="imgSrc != ''" @click="cropImage">
                    <i class="fa fa-crop"></i> Crop
                </b-button>
                <b-button size="md" variant="success" :disabled="isUploading" v-if="cropImg != ''" @click="saveImage">
                    <span v-show="!isUploading">
                        <i class="fa fa-save"></i> Use this Image
                    </span>
                    <span v-show="isUploading">
                        <i class="fa fa-spinner fa-spin"></i> Uploading
                    </span>
                </b-button>
                <b-button size="md" variant="danger" :disabled="isUploading" @click="hide()">
                    <i class="fa fa-times-circle"></i> Cancel
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
    import ImageBox from './ChatImageBox';
    import VueCropper from 'vue-cropperjs';
    import {mapGetters} from 'vuex';

    import {
        changeUserAvatar as apiChangeUserAvatar, createGroupChat as apiCreateGroupChat,
        syncUserAvatar as apiSyncUserAvatar
    } from "../assets/api/resources";
    import * as types from "../store/mutation-types";

    export default {
        components: {
            ImageBox,
            VueCropper
        },
        props: {
            forElement: {
                require: false,
                type: String,
                default: ''
            }
        },
        data() {
            return {
                imgSrc: '',
                cropImg: '',
                selectedFile: {},
                sessionStorageDataUrl: `fiberpos_cropped_image_${this.forElement}`,
                isUploading: false
            };
        },
        computed: {
            ...mapGetters({
                loggedUserId: 'loggedUserId',
                isDisconnected: 'isDisconnected',
                isFromPOS: 'isFromPOS'
            })
        },
        mounted() {

        },
        methods: {
            onModalShow() {
                let _self = this;
                this.$refs.cropper.$el.addEventListener('cropmove', function (event) {
                    if (event.detail.action === 'all') {
                        _self.cropImg = '';
                    }
                });

                _self.$refs.fileInput.value = '';
            },
            onModalHidden() {
                this.cropImg = '';
                this.imgSrc = '';
                this.isUploading = false;
            },
            setImage(e) {
                let $this = this;
                const file = e.target.files[0];

                let errorMessage = $this.validateFile(file);
                if (errorMessage) {
                    if (!window.common) {
                        this.$bvToast.toast(errorMessage, {
                            title: 'Error',
                            autoHideDelay: 5000,
                            appendToast: true
                        });
                        return;
                    }

                    common.showToastError('Error', errorMessage);
                    return;
                }

                $this.$bvModal.show(`modalCropper_${this.forElement}`);

                if (typeof FileReader === 'function') {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        $this.imgSrc = event.target.result;
                        // rebuild cropperjs with the updated source
                        $this.$refs.cropper.replace(event.target.result);
                    };
                    reader.readAsDataURL(file);
                    $this.storeFileDetails(file);
                } else {
                    alert('Sorry, FileReader API not supported');
                }
            },
            validateFile(file) {
                if (!file.type.includes('image/')) {
                    return 'Please select an image file.';
                }

                if (file.size > 5242880) {
                    return 'Cannot upload file larger than 5MB.';
                }

                return '';
            },
            cropImage() {
                // get image data for post processing, e.g. upload or setting image src
                this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
            },
            saveImage() {
                this.isUploading = true;
                this.$refs.cropper.disable();
                let croppedImage = this.cropImg;
                this.selectedFile.src = this.cropImg;

                let data = {
                    userId: this.loggedUserId,
                    imageFile: this.selectedFile
                };

                // Save user avatar
                if (this.forElement === 'chat_avatar') {
                    apiChangeUserAvatar(data, ({responseData}) => {
                        this.$refs.cropper.enable();
                        this.$bvModal.hide(`modalCropper_${this.forElement}`);
                        // Display image
                        document.querySelector(`#c-${this.forElement}`).setAttribute('src', croppedImage);

                        if (this.isFromPOS) {
                            this.syncUserAvatar();
                        }

                    }, ({}) => {
                        if (!window.common) {
                            this.$bvToast.toast('Failed to upload user avatar.', {
                                title: 'Error',
                                autoHideDelay: 5000,
                                appendToast: true
                            });
                            return;
                        }

                        common.showToastError('Error', 'Failed to upload user avatar.');

                        this.$refs.cropper.enable();
                        this.$bvModal.hide(`modalCropper_${this.forElement}`);
                    });

                    return;
                }

                // Set file on session
                window.sessionStorage.setItem(this.sessionStorageDataUrl, JSON.stringify(this.selectedFile));
                this.$refs.cropper.enable();
                this.$bvModal.hide(`modalCropper_${this.forElement}`);
                // Display image
                document.querySelector(`#c-${this.forElement}`).setAttribute('src', croppedImage);
            },
            storeFileDetails(file) {
                let _self = this;

                _self.selectedFile = {
                    from: 'local',
                    lastModified: file.lastModified,
                    lastModifiedDate: file.lastModifiedDate,
                    name: file.name,
                    size: file.size,
                    type: file.type,
                    webkitRelativePath: file.webkitRelativePath
                };
            },
            syncUserAvatar() {
                let data = {
                    userId: this.loggedUserId
                };

                apiSyncUserAvatar(data, ({responseData}) => {
                    // sync success
                });
            }
        },
        watch: {
            isDisconnected(status) {
                if (status) {
                    this.$refs['refImageCropper'].hide();
                }
            }
        },
    }
</script>
<style scoped lang="scss">
    @import '~cropperjs/dist/cropper.min.css';

    .modal-cropper {
        &__title {
            margin: 0;

            i {
                margin-right: 5px;
            }
        }
    }

    .preview {
        height: 400px;
        overflow: hidden;
        width: 400px;
    }
</style>