<template>
    <div class="col-md-8 p-0">
        <div class="chat-thread">
            <!-- HEADER -->
            <div class="chat-thread-head">
                <!-- Thread Type -->
                <div
                    :class="{
						'chat-thread-contact': isThreadTypeDirect(currentThread),
						'chat-thread-group': isThreadTypeGroup(currentThread)
					}"
                >
                    <!-- Thread Image -->
                    <div class="chat-thread__image-container" v-show="!isCurrentThreadEmpty">
                        <chat-image-box
                            class="chat-thread__image"
                            :class="{'chat-thread__image--is-group': isThreadTypeGroup(currentThread)}"
                            width="42px"
                            height="42px"
                            :src="getImageUrl(currentThread.img_url)"
                        />
                        <span
                            class="chat-thread__status"
                            :class="{'chat-thread__status--active': isUserOnline(currentThread.user_id) }"
                            v-show="isThreadTypeDirect(currentThread)"
                        ></span>
                    </div>

                    <!-- Thread Name -->
                    <div
                        :class="{
							'chat-thread__contact-name': isThreadTypeDirect(currentThread),
							'chat-thread__group-name': isThreadTypeGroup(currentThread)
            			}"
                        v-show="!isCurrentThreadEmpty"
                    >
                        {{ currentThread.thread_name }}
                    </div>

                    <!-- Member Info -->
                    <div class="chat-thread-information" v-if="isThreadTypeDirect">
                        <div class="row">
                            <div class="col-md-3">
                                <chat-image-box
                                    class="chat-thread-information__image"
                                    :src="getImageUrl(currentThread.img_url)"
                                    width="96px"
                                    height="96px"
                                />
                            </div>
                            <div class="col-md-9 chat-thread-information__details">
                                <h5>{{ currentThread.thread_name }}</h5>
                                <div>
                                    <strong>Position:</strong>
                                    {{ currentThread.position !== undefined ? currentThread.position : "n/a" }}
                                </div>
                                <div>
                                    <strong>Department:</strong>
                                    {{ currentThread.department !== undefined ? currentThread.department : "n/a" }}
                                </div>
                                <div>
                                    <strong>Area:</strong>
                                    {{ currentThread.area !== undefined ? currentThread.area : "n/a" }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- View Group Modal Trigger -->
                    <div
                        class="chat-thread__participants"
                        v-if="currentThread.thread_type > 1"
                        v-show="!isCurrentThreadEmpty"
                    >
                        <b-button
                            variant="success"
                            v-b-modal.view-group-form
                        >
                            <span>{{currentThread.member_count}}</span> members
                        </b-button>
                    </div>

                    <!-- Chat Close Trigger -->
                    <div
                        class="chat-thread__minimize-chat"
                        @click="closeChatbox"
                    >
                        <i class="fas fa-minus"></i>
                    </div>
                </div>
            </div>

            <!-- Thread Body -->
            <div class="chat-thread-body" :class="{'chat-thread-body-welcome': isCurrentThreadEmpty}">

                <!-- Body - Load More -->
                <div class="chat-thread-body-load-more" v-show="this.hasNewMessage">
                    Loading chat history
                    <i class="fas fa-circle chat-thread-body-load-more-dot"></i>
                    <i class="fas fa-circle chat-thread-body-load-more-dot"></i>
                    <i class="fas fa-circle chat-thread-body-load-more-dot"></i>
                </div>

                <!-- Body - Welcome -->
                <div class="chat-thread-body-welcome-container text-center" v-show="isCurrentThreadEmpty">
                    <div>
                        <h2>WELCOME TO FIBERPOS CHAT</h2>
                    </div>

                    <chat-image-box
                        ref="refWelcomeImage"
                        :src="getImageUrl(defaultWelcomeImageUrl)"
                        class="mx-auto"
                        width="300px"
                        height="300px"
                    />
                </div>

                <!-- Body - Thread History -->
                <div class="chat-thread-body-history-container" v-show="!isCurrentThreadEmpty">

                    <!-- History - Loader -->
                    <div class="chat-thread-body-history__loader" v-show="isLoadingHistory">
						<span>
							<i class="fa fa-spinner fa-spin"></i> Loading History...
						</span>
                    </div>

                    <!-- History - isEmpty -->
                    <div
                        class="chat-thread-body-history--is-empty"
                        v-show="!isLoadingHistory && !sortedMessages.length"
                    >
                        <span>{{ currentThread.recent_message }}</span>
                    </div>

                    <!-- History - Logs -->
                    <ul
                        ref="refChatThreadBodyHistory"
                        id="chatThreadBodyHistory"
                        class="chat-thread-body-history"
                        @scroll="onScrollLoadMore"
                        v-if="sortedMessages.length"
                    >

                        <!-- History Logs - Item -->
                        <li
                            class="chat-thread-body-history-item"
                            :class="{
								'chat-thread-body-history-item-receiver': isHistoryLogOthers(historyLog),
                  				'chat-thread-body-history-item-sender': isHistoryLogSelf(historyLog)
                			}"
                            v-for="(historyLog, historyLogIndex) in sortedMessages"
                        >

                            <!-- NOTE: For Groups, display participants name -->
                            <!-- History Logs - Name -->
                            <div
                                class="chat-thread-body-history-item-name"
                                v-if="isThreadTypeGroup(currentThread) && historyLog.sender == 'others'"
                            >
                                <span>{{ historyLog.sender_name || 'Name'}}</span>
                                <span
                                    class="chat-thread-body-history-item-short-info"
                                    :class="{'d-none': !historyLog.sender_department}"
                                >
                  					(
										{{ historyLog.sender_department || 'n/a'}} &ndash;
										{{ historyLog.sender_area || 'n/a'}}
									)
								</span>
                            </div>

                            <!-- History Logs - Image -->
                            <div class="chat-thread-body-history-item__image-container">
                                <chat-image-box
                                    :src="getImageUrl(historyLog.img_url)"
                                    class="chat-thread-body-history-item__image"
                                    width="42px"
                                    height="42px"
                                />
                            </div>

                            <!-- History Logs - More Info -->
                            <div class="chat-thread-body-history-item-information">
                                <div class="row">
                                    <div class="col-md-3">
                                        <chat-image-box
                                            class="chat-thread-body-history-item-information__image"
                                            :src="getImageUrl(historyLog.img_url)"
                                            width="96px"
                                            height="96px"
                                        />
                                    </div>
                                    <div class="col-md-9 chat-thread-body-history-item-information__details">
                                        <h5>{{ historyLog.sender_name }}</h5>
                                        <div>
                                            <strong>Position:</strong>
                                            {{ historyLog.position !== undefined ? historyLog.position : "n/a" }}
                                        </div>
                                        <div>
                                            <strong>Department:</strong>
                                            {{ historyLog.department !== undefined ? historyLog.department : "n/a" }}
                                        </div>
                                        <div>
                                            <strong>Area:</strong>
                                            {{ historyLog.area !== undefined ? historyLog.area : "n/a" }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- History Logs - Message Bubble -->
                            <div
                                v-if="historyLog.messageType === messageTypeText"
                                class="chat-thread-body-history-item-message"
                                :class="{
							 		'chat-thread-body-history-item-message--is-unsent': isHistoryLogStatusRetry(historyLog)
								}"
                                :title="historyLog.date_timestamp | formatDateTime"
                            >
                                {{ historyLog.message }}
                            </div>
                            <div
                                v-else-if="historyLog.messageType === messageTypeImage"
                                class="chat-thread-body-history-item-image"
                                :class="{
							 		'chat-thread-body-history-item-message--is-unsent': isHistoryLogStatusRetry(historyLog)
								}"
                                :title="historyLog.date_timestamp | formatDateTime"
                            >
                                <i class="fa fa-spinner fa-spin" v-if="!historyLog.file_url.length"></i>
                                <chat-image-box
                                    class="chat-thread-body-history-item-image__image-container"
                                    :src="getImageUrl(historyLog.file_url)"
                                    :alt="historyLog.message"
                                    width="300px"
                                />
                            </div>
                            <div
                                v-else
                                class="chat-thread-body-history-item-file"
                                :class="{
							 		'chat-thread-body-history-item-message--is-unsent': isHistoryLogStatusRetry(historyLog)
								}"
                                :title="historyLog.date_timestamp | formatDateTime"
                            >
                                <i class="fa fa-spinner fa-spin" v-if="!historyLog.file_url.length"></i>
                                <a v-else
                                   :href="historyLog.file_url"
                                   download
                                   @click="downloadFile"
                                >
                                    <span>{{ historyLog.message }}</span>
                                    <span class="mr-2"
                                        :class="{ 'float-left': isHistoryLogOthers(historyLog) }"
                                    ><i class="fa fa-download text-success"></i></span>
                                </a>
                            </div>

                            <!-- History Logs - Message Status -->
                            <div
                                class="chat-thread-body-history-item-status"
                                :class="{'chat-thread-body-history-item-status--is-retry': isHistoryLogStatusRetry(historyLog)}"
                                v-if="isHistoryLogSelf(historyLog)"
                                @click.prevent.stop="resendMessage(historyLog, $event)"
                            >

								<span
                                    :class="{
										'text-danger': isHistoryLogStatusRetry(historyLog),
										'text-primary': isHistoryLogStatusSent(historyLog),
										'text-success': isHistoryLogStatusSeenAll(historyLog),
										'text-secondary mr-0': isHistoryLogStatusSeen(historyLog)
									}"
                                >
									<i
                                        class="fa"
                                        :class="{
											'fa-spin fa-sync': isHistoryLogStatusRetry(historyLog) && isResendingMessage,
											'fa-sync': isHistoryLogStatusRetry(historyLog),
											'fa-check': isHistoryLogStatusSent(historyLog),
											'fa-check-double': isHistoryLogStatusSeenAll(historyLog) || isHistoryLogStatusSeen(historyLog)
										}"
                                    ></i>
									<span v-if="isHistoryLogStatusRetry(historyLog) && !isResendingMessage">Retry</span>
									<span
                                        v-if="isHistoryLogStatusRetry(historyLog) && isResendingMessage">Retrying...</span>
									<span v-if="isHistoryLogStatusSent(historyLog)">Sent</span>
									<span v-if="isHistoryLogStatusSending(historyLog)">Sending</span>
									<span v-if="isHistoryLogStatusSeen(historyLog)">Seen</span>
									<span v-if="isHistoryLogStatusSeenAll(historyLog)">Seen by All</span>
								</span>
                            </div>

                            <!-- History Logs - Message Datetime -->
                            <div
                                class="chat-thread-body-history-item-date"
                                v-if="checkIfDisplayDate(historyLog, historyLogIndex)"
                            >
                                <span>{{ historyLog.date_timestamp | formatDateTime }}</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="chat-thread-body-new-messages" v-show="this.hasNewMessage">
                    <a href="javascript:void(0);">
                        <i class="fa fa-arrow-circle-down"></i> View New Messages
                    </a>
                </div>
            </div>

            <!-- FOOTER MESSAGE INPUT -->
            <div class="chat-thread-footer" v-show="!isCurrentThreadEmpty">
                <div class="chat-thread-footer-message-container">
                    <div class="input-group" @keydown.enter.prevent="sendMessage">
                        <textarea-emoji-picker v-model="internalEmojiText" class="chat-thread-footer-message"/>

                        <div class="input-group-append">
                            <a
                                href="javascript:void(0);"
                                class="btn btn-primary chat-thread-footer-send"
                                @click="sendMessage"
                            >
                                <i class="fas fa-paper-plane"></i> Send
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ChatImageBox from './ChatImageBox';
    import TextareaEmojiPicker from './TextareaEmojiPicker'
    import * as messageStatusTypes from '../store/message-status-types.js';
    import * as messageTypes from '../store/message-types.js';
    import * as types from '../store/mutation-types';
    import {mapGetters} from 'vuex';
    import mixin from '../mixins';
    import {
        DEFAULT_WELCOME_IMAGE as DEFAULT_WELCOME_IMAGE,
        DEFAULT_CHAT_BG as DEFAULT_CHAT_BG
    } from "../assets/js/utility/blob-images";
    import moment from 'dayjs';

    export default {
        name: "ChatMainBodyRightPanel",
        components: {
            ChatImageBox,
            TextareaEmojiPicker
        },
        props: {
            threads: {
                type: Array,
                required: true,
                default: []
            },
            emojiText: {
                type: String,
                required: true,
                default: ''
            }
        },
        data() {
            return {
                internalEmojiText: this.emojiText,
                hasNewMessage: false,
                effectTimeout: 0,
                seen_by: '',
                isResendingMessage: false,
                autoScrollMessages: true,
                sendingStatus: messageStatusTypes.SENDING,
                sentStatus: messageStatusTypes.SENT,
                failedStatus: messageStatusTypes.FAILED_TO_SEND,
                seenStatus: messageStatusTypes.SEEN,
                seenByAllStatus: messageStatusTypes.SEEN_BY_ALL,
                messageTypeFile: messageTypes.FILE,
                messageTypeImage: messageTypes.IMAGE,
                messageTypeText: messageTypes.TEXT,
                defaultWelcomeImageUrl: DEFAULT_WELCOME_IMAGE,
                defaultChatBg: DEFAULT_CHAT_BG
            }
        },
        computed: {
            ...mapGetters({
                showMessagesSection: 'showMessagesSection',
                currentThread: 'currentThread',
                messages: 'messages',
                members: 'members',
                currentThreadKey: 'currentThreadKey',
                loggedUserId: 'loggedUserId',
                sortedMessages: 'sortedMessages',
                isLoadingHistory: 'isLoadingHistory',
                loggedUserProfilePhoto: 'loggedUserProfilePhoto',
                threadMessagesIDs: 'threadMessagesIDs',
                onlineUsers: 'onlineUsers'
            }),
            isCurrentThreadEmpty() {
                return Object.keys(this.currentThread).length === 0 && this.currentThread.constructor === Object
            },
        },
        mounted() {
            this.scrollToBottom(this.$refs.refChatThreadBodyHistory);

            document.querySelector('.chat-thread-body-history-container')
                .setAttribute('style', `background-image: url(${this.defaultChatBg}); background-color: #fff`);
        },
        methods: {
            isUserOnline(userId) {
                return this.onlineUsers.includes(userId);
            },
            checkIfDisplayDate(historyLog, historyLogIndex) {
                let history = this.currentThread.history;
                if (history[historyLogIndex - 1] !== undefined) {
                    return (!this.isHistoryLogStatusRetry(historyLog)) &&
                        (history[historyLogIndex - 1].sender != historyLog.sender)
                }
                return !this.isHistoryLogStatusRetry(historyLog);
            },
            onScrollLoadMore(event) {
                // Temporarily disabled
                // event.preventDefault();
                // const element = event.target;
                // if (element.scrollTop === 0 && this.currentThread.history.length > 1) {
                //   this.$root.$emit('loadMoreMessages', true);
                // }
            },
            sendMessage() {
                let textarea = document.getElementById('message_textarea');
                let now = new Date().getTime();
                now = parseInt(moment(now).format("X"));
                let isEmpty = textarea.value.trim() === '';

                if (isEmpty) {
                    textarea.focus();
                    return
                }

                if (!isEmpty) {
                    this.autoScrollMessages = true;
                    let text = textarea.value;
                    let payload = {
                        text,
                        thread: this.currentThread,
                        loggedUserId: this.loggedUserId,
                        profilePicture: this.loggedUserProfilePhoto,
                        messageType: messageTypes.TEXT
                    };

                    this.$store.dispatch('sendMessage', payload);

                    // Clear All / Hide Emoji
                    textarea.value = '';
                    this.internalEmojiText = '';
                    this.$children[0].showEmojiPicker = false;
                }
            },
            resendMessage(message) {
                // prevent resending of sent or being sent messages
                if (
                    message.status === this.sentStatus ||
                    message.status === this.sendingStatus ||
                    message.status === this.seenStatus ||
                    message.status === this.seenByAllStatus ||
                    message.sent === true
                ) {
                    return;
                }

                this.autoScrollMessages = true;

                // get the failed message object
                let failedThreadMessage = this.$store.state.messages.find(function (threadMessage) {
                    return threadMessage.id === message.id;
                });

                let payload = {
                    text: failedThreadMessage.message,
                    thread: this.currentThread,
                    loggedUserId: this.loggedUserId,
                    profilePicture: this.loggedUserProfilePhoto,
                    messageType: messageTypes.TEXT
                };

                // clean-up failed message
                this.$store.commit(types.REMOVE_FROM_THREAD_MESSAGES, {failedThreadMessage});

                // attempt resending object of failed message
                this.$store.dispatch('sendMessage', payload);
            },
            downloadFile() {
                // NOTE: window variable flag for `POS` loader display checker
                window.isDownloadingChatAttachment = true;
            }
        },
        watch: {
            sortedMessages() {
                this.$nextTick(() => {
                    if (this.autoScrollMessages) {
                        //scroll to bottom of messages area if initial loading of thread messages
                        this.scrollToBottom(this.$refs.refChatThreadBodyHistory);
                    }
                });
            },
        },
        mixins: [mixin]
    };
</script>

<style scoped lang="scss">
    @import '../assets/scss/chat';

    .chat-thread {
        $thread: &;
        border-right: 1px solid $borders;
        height: 100%;
        width: 100%;

        @media only screen and (max-width: 767px) {
            height: 600px;
            position: relative;
            width: 100%;
        }

        &-information {
            -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            background: rgba(255, 255, 255, .95);
            border: 1px solid $borders;
            box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            display: none;
            left: 15px;
            padding: 10px;
            position: absolute;
            top: 75px;
            width: 433px;
            z-index: 90;

            &:before,
            &:after {
                border: solid transparent;
                bottom: 100%;
                content: " ";
                height: 0;
                left: 17px;
                position: absolute;
                pointer-events: none;
                width: 0;
            }

            &:after {
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: #fff;
                border-width: 14px;
                margin-left: -14px;
            }

            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-bottom-color: $borders;
                border-width: 15px;
                margin-left: -15px;
            }

            &__image {
                border: 1px solid $borders;
                height: 96px;
                width: 96px;
            }

            &__details {
                color: fiberpos-color('body');
                font-size: 13px;
                padding-top: 5px;

                div {
                    line-height: 1.4;
                }
            }
        }

        &-head {
            background: fiberpos-color();
            height: 60px;
        }

        &-contact,
        &-group {
            color: #fff;
            line-height: 60px;
            padding-left: 10px;
        }

        &__image {
            background-color: #e0e0e0;
            border-radius: 50%;

            &-container {
                display: inline-block;
                line-height: 1;
                position: relative;
                top: 9px;
            }

            &--is-group {
                background: #fff;
                border: 1px solid $borders;
                padding: 2px;
            }
        }

        &__contact {
            &-name {
                cursor: pointer;
                display: inline-block;
                font-size: 22.5px;
                line-height: 1.8;
                overflow: hidden;
                padding-left: 10px;
                position: relative;
                text-overflow: ellipsis;
                top: 9px;
                white-space: nowrap;
                width: 345px;

                &:hover ~ #{$thread}-information {
                    display: block;
                }
            }
        }

        &__status {
            background: #fafbfe;
            border: 1px solid #b8b8b8;
            border-radius: 12px;
            bottom: -3px;
            display: block;
            height: 12px;
            line-height: 1;
            position: absolute;
            right: 0;
            width: 12px;

            &--active {
                background: green;
                border: 1px solid #fff;
            }
        }

        &__group {
            &-name {
                display: inline-block;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.4;
                overflow: hidden;
                padding-left: 5px;
                position: relative;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &__participants {
            display: inline-block;
            line-height: 1;
            margin-left: 15px;
            position: relative;
            top: -7px;

            a {
                font-weight: 500;
            }

            span {
                font-weight: 600;
            }
        }

        &__minimize-chat {
            color: #fff;
            float: right;
            text-align: center;
            width: 60px;

            i {
                font-size: 32px;
                line-height: 60px;
            }
        }

        &-body {
            @include firefox-only {
                height: calc(100% - 180px) !important;
            }
            height: calc(100% - 172px);
            position: relative;

            @media only screen and (max-width: 767px) {
                height: calc(100% - 222px);
            }

            &-welcome {
                height: 100%;

                &-container {
                    padding-top: 30px;
                }
            }

            &-history {
                -moz-appearance: none;
                height: 100%;
                list-style: none;
                margin: 0;
                overflow: auto;
                padding: 15px 10px;
                position: absolute;
                width: 100%;

                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                    width: 7px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, .5);
                    border-radius: 4px;
                    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
                }

                &__loader {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    justify-content: center;

                    i.fa {
                        margin-right: 5px;
                    }
                }

                &--is-empty {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    width: 100%;

                    span {
                        font-size: 1.4rem;
                    }
                }

                &-container {
                    background-color: #eaebef;
                    background-position: bottom left;
                    background-size: cover;
                    height: 100%;
                    max-height: 302px;
                    position: relative;
                }

                &-item {
                    $item: &;
                    clear: both;
                    margin-bottom: 12px;
                    position: relative;

                    &-receiver {
                        #{$item}-name:hover ~ #{$item}-information {
                            display: block;
                        }

                        #{$item}__image-container:hover ~ #{$item}-information {
                            display: block;
                        }
                    }

                    &-information {
                        -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                        -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                        background: rgba(255, 255, 255, .95);
                        border: 1px solid $borders;
                        bottom: 0;
                        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                        display: none;
                        left: 56px;
                        padding: 10px;
                        position: absolute;
                        width: 415px;

                        &:before,
                        &:after {
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            position: absolute;
                            pointer-events: none;
                            right: 100%;
                            top: 50%;
                            width: 0;
                        }

                        &:after {
                            border-color: rgba(136, 183, 213, 0);
                            border-right-color: #fff;
                            border-width: 14px;
                            margin-top: -14px;
                        }

                        &:before {
                            border-color: rgba(194, 225, 245, 0);
                            border-right-color: $borders;
                            border-width: 15px;
                            margin-top: -15px;
                        }

                        &:hover {
                            display: block;
                        }

                        &__image {
                            border: 1px solid $borders;
                            height: 96px;
                            width: 96px;
                        }

                        &__details {
                            font-size: 13px;
                            padding-top: 5px;

                            div {
                                line-height: 1.4;
                            }
                        }
                    }

                    &-message {
                        background: #e0e0e0;
                        border-radius: 0.25rem;
                        display: inline-block;
                        font-weight: 500;
                        max-width: 300px;
                        padding: 10px 15px;

                        &__image {
                            width: 100%;
                        }

                        &--is-unsent {
                            background: rgba(88, 103, 221, .5) !important;
                        }
                    }

                    &-image {
                        background: #e0e0e0 !important;
                        border: 1px solid $borders;
                        display: inline-block;
                        font-weight: 500;
                        max-width: 300px;

                        &--is-unsent {
                            background: rgba(88, 103, 221, .5) !important;
                        }
                    }

                    &-file {
                        background: #e0e0e0 !important;
                        border-radius: 0.25rem;
                        display: inline-block;
                        font-weight: 500;
                        max-width: 300px;
                        padding: 15px;

                        &--is-unsent {
                            background: rgba(88, 103, 221, .5) !important;
                        }
                    }

                    &-date {
                        font-size: 12px;
                        margin-left: 50px;
                        margin-top: 3px;
                        padding-bottom: 14px;
                    }

                    &-name {
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 3px;
                        margin-left: 46px;
                        text-transform: uppercase;
                    }

                    &-short-info {
                        font-size: 12px;
                    }

                    &__image {
                        background-color: #e0e0e0;
                        border-radius: 50%;

                        &-container {
                            direction: initial;
                            display: inline-block;
                            margin-right: 5px;
                            vertical-align: bottom;
                        }
                    }

                    &-status {
                        display: inline-block;
                        margin-right: 5px;
                        user-select: none;

                        .text-secondary {
                            direction: ltr;
                            display: inline-block;
                            margin-right: 36px;
                            margin-top: 2px;

                            .fa-check-double {
                                float: right;
                                margin-left: 5px;
                                position: relative;
                                top: 3px;
                            }
                        }

                        &--is-retry {
                            cursor: pointer;
                            direction: ltr;
                        }
                    }

                    &-sender {
                        clear: both;
                        direction: rtl;
                        float: right;
                        text-align: right;

                        #{$item}-message {
                            background: fiberpos-color();
                            color: #fff;
                            direction: ltr;
                            text-align: left;
                            word-break: break-word;
                        }

                        #{$item}-date {
                            direction: ltr;
                            margin-left: 0;
                            margin-right: 50px;
                            text-align: right;
                        }

                        #{$item}__image {
                            &-container {
                                margin-left: 5px;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            &-load-more {
                @include font-size(16px);
                background: rgba(255, 255, 255, 0.85);
                color: fiberpos-color();
                display: none;
                font-weight: 500;
                left: 0;
                line-height: 1;
                padding: 10px;
                position: absolute;
                text-align: center;
                width: 100%;
                z-index: 2;

                &-dot {
                    @include font-size(4px);
                    animation: roll 1s ease-in-out infinite;
                    color: fiberpos-color();
                    display: inline-block;
                    position: relative;
                    top: -1px;

                    &:nth-child(2) {
                        animation-delay: 0.10s;
                    }

                    &:nth-child(3) {
                        animation-delay: 0.2s;
                    }
                }
            }

            &-new-messages {
                background: rgba(241, 240, 240, 1);
                border-top: 2px solid #f1f0f0;
                bottom: 0;
                color: #fff;
                padding: 10px;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        }

        &-footer {
            border-top: 1px solid #f1f0f0;

            &-message {
                position: relative !important;
                width: calc(100% - 110px) !important;

                @media all and (max-width: 1024px) {
                    width: calc(100% - 90px) !important;
                }

                &-container {
                    padding: 10px;
                }
            }

            &-send {
                align-items: center;
                font-weight: 500;
                display: flex;
                vertical-align: middle;

                i.fas {
                    color: #fff;
                }
            }
        }
    }
</style>
