<template>
    <b-modal
        ref="refAddGroupForm"
        id="add-group-form"
        @shown="onModalShow"
        @hidden="onModalHidden"
        no-close-on-backdrop
        no-close-on-esc
    >
        <template slot="modal-header" slot-scope="{ hide }">
            <h4 class="modal-title">
                <i class="fa fa-user-friends mr-1"></i> Create a Group
            </h4>
            <button type="button" class="close" @click="hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </template>

        <template slot="default">
            <form class="chat-modal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group m-0">
                            <label>Group Avatar</label>
                            <div class="add-group-photo-container">
                                <chat-cropper for-element="group_avatar">
                                    <div class="add-group-photo">
                                        <chat-image-box
                                            ref="refChatGroupIcon"
                                            image-id="c-group_avatar"
                                            class="add-group-photo__avatar-image"
                                            width="36px"
                                            height="36px"
                                            :src="defaultMainChatIcon"
                                        />
                                        <span class="add-group-photo__overlay"><i class="fa fa-plus"></i></span>
                                    </div>
                                </chat-cropper>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group m-0">
                            <label>Group Name</label>
                            <input
                                ref="refGroupName"
                                type="text"
                                maxlength="30"
                                class="form-control"
                                placeholder="Enter Group name"
                                :class="{'is-invalid': !groupName.length}"
                                v-model="groupName"
                                @input="setGCName"
                                @keyup.enter="createGroup"
                            >
                        </div>
                    </div>
                </div>

                <div
                    class="kt-separator kt-separator--border-dashed kt-separator--space-sm kt-separator--portlet-fit"></div>

                <div class="row">
                    <div class="col-md-12 pb-2">
                        <div class="form-group m-0">
                            <label>Add Participants</label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input
                                    ref="refMemberSearch"
                                    type="text"
                                    class="form-control"
                                    placeholder="Search..."
                                    v-model="memberSearch"
                                    @keyup.prevent="searchMember"
                                >
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
									<span>
									<i
                                        :class="{
											'fa fa-search': !checkIsSearching,
											'fa fa-spinner fa-spin': checkIsSearching
										}"
                                    ></i>
									</span>
								</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 p-0">
                        <div class="add-member-list-container">
                            <div class="add-member-list-search-loader" v-if="checkIsSearching">
                                <span><i class="fa fa-spinner fa-spin mr-1"></i></span>
                                <span>Loading...</span>
                            </div>

                            <div class="add-member-list-search__empty" v-if="!checkIsSearching && !gccUsers.length">
                                <span><i class="fa fa-exclamation-circle mr-1"></i></span>
                                <span>No Results</span>
                            </div>


                            <ul ref="refAddMemberList" class="add-member-list"
                                v-show="!checkIsSearching && gccUsers.length">
                                <li
                                    class="add-member-list-item"
                                    :class="{'add-member-list-item--is-selected': member.is_selected}"
                                    :data-member-id="member.id"
                                    v-for="(member, key) in gccUsers"
                                    @click="selectMember(member.id)"
                                    @mouseover="tooltip($event)"
                                >
                                    <div class="add-member-list-item__information-wrapper">
                                        <div class="add-member-list-item__information">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <chat-image-box
                                                        class="add-member-list-item__information-image"
                                                        width="96px"
                                                        height="96px"
                                                        :src="getImageUrl(member.img_url)"
                                                    />
                                                </div>
                                                <div class="col-md-9 add-member-list-item__information-details">
                                                    <h5>{{ member.name }}</h5>
                                                    <div>
                                                        <strong>Position:</strong> {{ member.position || "" }}
                                                    </div>
                                                    <div>
                                                        <strong>Department:</strong> {{ member.department || "" }}
                                                    </div>
                                                    <div>
                                                        <strong>Area:</strong> {{ member.area || "" }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="add-member-list-item-wrapper">
                                        <div class="add-member-list-item__image-container">
                                            <chat-image-box
                                                class="add-member-list-item__image"
                                                width="36px"
                                                height="36px"
                                                :src="getImageUrl(member.img_url)"
                                            />
                                        </div>

                                        <div class="add-member-list-item__contact-name">{{ member.name }}</div>

                                        <div class="add-member-list-item__check-container">
                                            <i
                                                class="fa fa-check-circle"
                                                :class="{'text-success': member.is_selected}"
                                            ></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </template>

        <template slot="modal-footer" slot-scope="{ hide }">
            <b-button
                id="createGroup"
                variant="primary"
                :class="{'disabled': !groupName.length}"
                :disabled="!groupName.length || !membersSelected.length || isSaving"
                @click="createGroup"
            >
                <span v-show="!isSaving"><i class="fa fa-plus"></i> Create</span>
                <span v-show="isSaving"><i class="fa fa-spinner fa-spin"></i> Creating...</span>
            </b-button>
            <b-button variant="danger" @click="hide()" :disabled="isSaving">Cancel</b-button>
        </template>
    </b-modal>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {
        getUserOptionsForGroup as apiGetUserOptionsForGroup,
        createGroupChat as apiCreateGroupChat
    } from "../assets/api/resources";
    import * as types from '../store/mutation-types';
    import mixin from '../mixins';
    import ChatCropper from './ChatCropper';
    import ChatImageBox from './ChatImageBox';
    import {DEFAULT_MAIN_CHAT_ICON} from '../assets/js/utility/blob-images';

    export default {
        name: "ChatMainModalCreateGroup",
        components: {
            ChatCropper,
            ChatImageBox
        },
        data() {
            return {
                isTypingTimeout: false,
                isSearching: false,
                membersSelected: [],
                groupName: '',
                memberSearch: '',
                defaultMainChatIcon: DEFAULT_MAIN_CHAT_ICON,
                isSaving: false
            }
        },
        computed: {
            ...mapGetters({
                members: 'members',
                gccUsers: 'gccUsers',
                loggedUserId: 'loggedUserId',
                typingTimeout: 'typingTimeout',
                gccSelectedUserIDs: 'gccSelectedUserIDs',
                groupChatName: 'groupChatName',
                isDisconnected: 'isDisconnected',
            }),
            checkIsSearching() {
                return this.isSearching === true
            },
            selectedContacts: {
                get() {
                    return this.gccSelectedUserIDs;
                },
                set(value) {
                    this.$store.commit(types.SET_SELECTED_GCC_USERS, value);
                },
            },
        },
        mounted() {
        },
        methods: {
            onModalShow() {
                let _self = this;

                _self.$refs.refGroupName.focus();
                _self.isSearching = true;

                let data = {
                    userId: _self.loggedUserId,
                    filter: null
                };

                apiGetUserOptionsForGroup(data, ({responseData}) => {
                    _self.$store.commit(types.SET_GCC_USERS, responseData.users);
                    _self.isSearching = false;
                });
            },
            onModalHidden() {
                let _self = this;

                _self.membersSelected = [];
                _self.$store.commit(types.SET_GCC_USERS, []);
                _self.$store.commit(types.SET_GCC_USERS_IS_SELECTED);
                _self.memberSearch = '';
                _self.groupName = '';
                window.sessionStorage.removeItem('fiberpos_cropped_image_group_avatar');
            },
            searchMember() {
                this.isSearching = true;
                clearTimeout(this.isTypingTimeout);
                this.isTypingTimeout = setTimeout(() => {
                    let data = {
                        userId: this.loggedUserId,
                        filter: this.memberSearch
                    };
                    apiGetUserOptionsForGroup(data, ({responseData}) => {
                        this.$store.commit(types.SET_GCC_USERS, responseData.users);
                        this.$store.commit(types.SET_GCC_USERS_IS_SELECTED);
                        this.isSearching = false;
                    })
                }, this.typingTimeout)
            },
            selectMember(id) {
                let element = document.querySelector('[data-member-id="' + id + '"]');

                if (!element.classList.contains('add-member-list-item--is-selected')) {
                    element.classList.add('add-member-list-item--is-selected');
                    document.querySelector('[data-member-id="' + id + '"] i').classList.add('text-success');
                    this.membersSelected = this.membersSelected.concat(id);
                    this.$store.commit(types.GCC_SELECT_USER, id);
                } else {
                    element.classList.remove('add-member-list-item--is-selected');
                    document.querySelector('[data-member-id="' + id + '"] i').classList.remove('text-success');
                    this.membersSelected = this.membersSelected.filter(function (value) {
                        return value !== id;
                    });
                    this.$store.commit(types.GCC_DESELECT_USER, id);
                }

                this.$store.commit(types.SET_SELECTED_GCC_USERS, this.membersSelected);
            },
            toggleSubmitStatus(status) {
                if (status) {
                    this.isSaving = true;
                    return;
                }
                this.isSaving = false
            },
            createGroup() {
                let _self = this;

                this.toggleSubmitStatus(true);

                if (_self.groupName.length === 0) {
                    this.showToastError('Error', 'Group Name cannot be empty');
                    this.$refs.refGroupName.focus();
                    setTimeout(() => {
                        _self.toggleSubmitStatus(false);
                    }, 1200);
                    return;
                }

                if (_self.membersSelected.length === 0) {
                    this.showToastError('Error', 'Add at least one member');
                    return;
                }

                let imageFile = window.sessionStorage.getItem('fiberpos_cropped_image_group_avatar');

                let data = {
                    userId: this.loggedUserId,
                    threadName: this.groupName,
                    participants: this.gccSelectedUserIDs,
                    imageFile: imageFile ? JSON.parse(imageFile) : null
                };

                apiCreateGroupChat(data, ({responseData}) => {
                    this.showToastSuccess('Success', 'Create group Success');
                    this.toggleSubmitStatus(false);
                    let thread = responseData.thread;
                    this.$store.commit(types.ADD_THREAD, thread);
                    this.$store.commit(types.RESET_GROUP_CHAT_CREATOR);
                    this.$bvModal.hide('add-group-form');
                });
            },
            setGCName(event) {
                this.$store.commit(types.SET_GROUP_CHAT_NAME, event.target.value);
            },
            tooltip(e) {
                let body = this.$refs.refAddMemberList.getBoundingClientRect();
                let element = e.target.closest('li');
                let offsetTop = element.getBoundingClientRect().top - body.top;
                let offsetLeft = element.getBoundingClientRect().left - body.left;
                let wrapper = e.target.closest('li').children[0];

                wrapper.style.top = `${offsetTop + Math.round(element.getBoundingClientRect().width * 0.122)}px`;
                wrapper.style.left = offsetLeft + 15;
            },
        },
        watch: {
            isDisconnected(status) {
                if (status) {
                    this.$refs['refAddGroupForm'].hide();
                }
            }
        },
        mixins: [mixin]
    }
</script>

<style scoped lang="scss">
    @import '../assets/scss/chat';

    .add-member-list {
        height: 100%;
        list-style: none;
        margin: 0;
        overflow-y: auto;
        padding: 0;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 4px;
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        &-container {
            height: 40vh;
        }

        &-search-loader,
        &-search__empty {
            align-items: center;
            display: flex;
            height: 100%;
            font-size: 16px;
            justify-content: center;
            text-align: center;
        }

        &-item {
            $item: &;
            clear: both;
            cursor: pointer;
            padding: 0 15px;
            position: static;
            user-select: none;

            &-wrapper {
                border-bottom: 1px dashed gray;
                display: block;
                line-height: 60px;
                position: relative;
                width: 100%;
            }

            &:hover > #{$item}__information-wrapper {
                display: block;
            }

            &--is-selected {
                background: #f1f0f0;
            }

            &__image {
                border: 1px solid $borders;
                border-radius: 50%;

                &-container {
                    display: inline-block;
                    line-height: 1;
                    position: relative;
                    vertical-align: middle;
                }
            }

            &__contact-name {
                display: inline-block;
                font-size: 20px;
                line-height: 1;
                margin-left: 10px;
                max-width: 350px;
                position: relative;
                text-overflow: ellipsis;
                top: 4px;
                white-space: nowrap;
                width: 100%;
            }

            &__check-container {
                position: absolute;
                font-size: 23px;
                line-height: 1;
                right: 10px;
                top: 21px;
            }

            &__information {
                -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                background: rgba(255, 255, 255, .95);
                border: 1px solid $borders;
                box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                padding: 10px;
                width: 451px;

                &:before,
                &:after {
                    border: solid transparent;
                    bottom: 100%;
                    content: " ";
                    height: 0;
                    left: 4%;
                    position: absolute;
                    pointer-events: none;
                    width: 0;
                }

                &:after {
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #fff;
                    border-width: 14px;
                    margin-bottom: -1px;
                    margin-left: -14px;
                }

                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: $borders;
                    border-width: 14px;
                    margin-left: -14px;
                }

                &-wrapper {
                    display: none;
                    position: absolute;
                    z-index: 9;
                }

                &-image {
                    border: 1px solid $borders;
                    height: 96px;
                    width: 96px;
                }

                &-details {
                    font-size: 13px;
                    padding-top: 5px;

                    div {
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    .add-group-photo {
        $photo-size: 36px;

        position: relative;
        width: $photo-size;

        %group-photo {
            border-radius: 50%;
            height: $photo-size;
            width: $photo-size;
        }

        &__avatar-image {
            border-radius: 50%;
        }

        &__button {
            @extend %group-photo;

            background: transparent;
            border: 2px solid gray;
        }

        &__overlay {
            align-items: center;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 50%;
            color: #fff;
            display: flex;
            height: 100%;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            width: 100%;
        }

        &:hover > &__overlay {
            visibility: visible;
        }
    }
</style>
