<template>
    <b-modal
        ref="refConfirmGroupForm"
        id="confirm-remove-form"
        @hidden="onRemoveConfirmModalClose"
    >
        <template slot="modal-header" slot-scope="{ hide }">
            <h4 class="modal-title">
                <i class="fa fa-user-friends mr-1"></i> Confirm to Remove Participants
            </h4>
            <button type="button" class="close" @click="hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </template>

        <template slot="default">
            Are you sure you want to remove these participants?
        </template>

        <template slot="modal-footer" slot-scope="{ hide }">
            <b-button
                id="remove_confirm"
                variant="danger"
                @click="removeSelected()"
            >
                <i class="fa fa-minus-circle"></i> Remove Selected
            </b-button>
            <b-button variant="light" @click="hide()">Cancel</b-button>
        </template>
    </b-modal>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {
        removeUsersFromThread as apiRemoveUsersFromThread
    } from "../assets/api/resources";
    import * as types from '../store/mutation-types';
    import mixin from '../mixins';

    export default {
        name: "ChatMainModalConfirm",

        computed: {
            ...mapGetters({
                loggedUserId: 'loggedUserId',
                currentThread: 'currentThread',
                membersSelected: 'membersSelected',
                currentThreadMemberIDs: 'currentThreadMemberIDs',
                isDisconnected: 'isDisconnected',
            }),
        },
        methods: {
            changeSubmitStatus(status) {
                const btnCreate = document.getElementById('remove_confirm');
                btnCreate.innerHTML = '<i class="fa fa-plus"></i> Remove Selected';
                btnCreate.classList.remove("disabled");

                if (status === 'removing') {
                    btnCreate.innerHTML = '<i class="fa fa-spinner fa-spin" style="width: 18px; margin-right: 5px;"></i> Removing...';
                    btnCreate.classList.add("disabled");
                }
            },
            removeSelected() {
                this.changeSubmitStatus('removing');
                let membersSelected = this.membersSelected;
                let skipViewModal = this.currentThreadMemberIDs.some(eId => eId == this.loggedUserId);
                let _self = this;

                let data = {
                    userId: this.loggedUserId,
                    threadId: this.currentThread.id,
                    threadParticipantIDs: membersSelected
                };

                apiRemoveUsersFromThread(data, ({responseData}) => {
                    _self.clearMembersSelected();
                    _self.showToastSuccess('Success', 'Participants removed successfully.');
                    _self.changeSubmitStatus();
                    _self.$bvModal.hide('confirm-remove-form');
                    if (!skipViewModal) {
                        this.onRemoveConfirmModalClose();
                    }
                });
            },
            onRemoveConfirmModalClose() {
                this.$bvModal.show('view-group-form');
            },
            clearMembersSelected() {
                this.$store.commit(types.RESET_MEMBERS_SELECTED);
            },
        },
        watch: {
            isDisconnected(status) {
                if (status) {
                    this.$refs['refConfirmGroupForm'].hide();
                }
            }
        },
        mixins: [mixin]
    }
</script>

<style scoped lang="scss">
</style>
