<template>
    <b-modal
        ref="refModalAddMembersForm"
        id="add-members-form"
        @shown="onModalShow"
        @hidden="onModalHidden"
        no-close-on-backdrop
        no-close-on-esc
    >
        <template slot="modal-header">
            <h4 class="modal-title">
                <i class="fa fa-users mr-1"></i> Add Group Member(s)
            </h4>
            <button type="button" class="close" @click="showViewModal">
                <span aria-hidden="true">&times;</span>
            </button>
        </template>

        <template slot="default">
            <form class="chat-modal">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group m-0">
                            <label>Select user(s) to add</label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input ref="refMemberSearch"
                                       type="text"
                                       class="form-control"
                                       placeholder="Search..."
                                       v-model="memberSearch"
                                       @keyup.prevent="searchMember"
                                >
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span>
                                        <i :class="{
                                          'fa fa-search': !checkIsSearching,
                                          'fa fa-spinner fa-spin': checkIsSearching
                                        }"
                                        ></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 p-0">
                        <div class="add-member-list-container">
                            <div class="add-member-list-search-loader" v-if="checkIsSearching">
                                <span><i class="fa fa-spinner fa-spin mr-1"></i></span>
                                <span>Loading...</span>
                            </div>

                            <div class="add-member-list-search__empty"
                                 v-if="!checkIsSearching && !gccUsers.length">
                                <span><i class="fa fa-exclamation-circle mr-1"></i></span>
                                <span>No Results</span>
                            </div>


                            <ul ref="refAddMemberList" class="add-member-list"
                                v-show="!checkIsSearching && gccUsers.length">
                                <li class="add-member-list-item"
                                    :class="{'add-member-list-item--is-selected': checkIfAdded(member.id)}"
                                    :data-member-id="member.id"
                                    v-for="(member, key) in gccUsers"
                                    @click="selectMember(member.id)"
                                    @mouseover="tooltip($event)"
                                >
                                    <div class="add-member-list-item__information-wrapper">
                                        <div class="add-member-list-item__information">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <chat-image-box
                                                        class="add-member-list-item__information-image"
                                                        width="96px"
                                                        height="96px"
                                                        :src="getImageUrl(member.img_url)"
                                                    />
                                                </div>
                                                <div class="col-md-9 add-member-list-item__information-details">
                                                    <h5>{{ member.name }}</h5>
                                                    <div><strong>Position:</strong> {{ member.position || "" }}
                                                    </div>
                                                    <div><strong>Department:</strong> {{ member.department || "" }}
                                                    </div>
                                                    <div><strong>Area:</strong> {{ member.area || "" }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="add-member-list-item-wrapper">
                                        <div class="add-member-list-item__image-container">
                                            <chat-image-box
                                                class="add-member-list-item__image"
                                                width="36px"
                                                height="36px"
                                                :src="getImageUrl(member.img_url)"
                                            />
                                        </div>

                                        <div class="add-member-list-item__contact-name">{{ member.name }}</div>


                                        <div class="add-member-list-item__check-container">
                                            <i class="fa fa-check-circle"
                                               :class="{'text-success': checkIfAdded(member.id)}"
                                            ></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </template>

        <template slot="modal-footer">
            <b-button
                id="addMembers"
                variant="primary"
                @click="addUsers"
                :disabled="isSaving"
            >
                <span v-show="!isSaving"><i class="fa fa-plus"></i> Add</span>
                <span v-show="isSaving"><i class="fa fa-spinner fa-spin"></i> Adding...</span>
            </b-button>
            <b-button
                id="cancelAddMembers"
                variant="danger"
                @click.prevent="showViewModal"
                :disabled="isSaving"
            >
                Cancel
            </b-button>
        </template>
    </b-modal>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {
        getUserOptionsForGroup as apiGetUserOptionsForGroup,
        addThreadUsers as apiAddThreadUsers
    } from "../assets/api/resources";
    import * as types from '../store/mutation-types';
    import mixin from '../mixins';
    import * as BLOB_IMAGES from "../assets/js/utility/blob-images";
    import ChatImageBox from './ChatImageBox';

    export default {
        name: "ChatMainModalAddGroupMembers",
        components: {
            ChatImageBox
        },
        data() {
            return {
                isTypingTimeout: false,
                isSearching: false,
                membersSelected: [],
                groupName: '',
                memberSearch: '',
                isSaving: false
            }
        },
        computed: {
            ...mapGetters({
                members: 'members',
                currentThread: 'currentThread',
                currentThreadKey: 'currentThreadKey',
                gccUsers: 'gccUsers',
                loggedUserId: 'loggedUserId',
                typingTimeout: 'typingTimeout',
                gccSelectedUserIDs: 'gccSelectedUserIDs',
                groupChatName: 'groupChatName',
                currentThreadMemberIDs: 'currentThreadMemberIDs',
                isDisconnected: 'isDisconnected',
            }),
            checkIsSearching() {
                return this.isSearching === true
            },
            selectedContacts: {
                get() {
                    return this.gccSelectedUserIDs;
                },
                set(value) {
                    this.$store.commit(types.SET_SELECTED_GCC_USERS, value);
                },
            },
        },
        mounted() {
        },
        methods: {
            onModalShow() {
                let _self = this;

                _self.isSearching = true;

                let data = {
                    userId: _self.loggedUserId,
                    filter: null
                };

                apiGetUserOptionsForGroup(data, ({responseData}) => {
                    _self.$store.commit(types.SET_GCC_USERS, responseData.users);
                    _self.isSearching = false;
                });
            },
            onModalHidden() {
                let _self = this;

                _self.memberSearch = '';
                _self.$store.commit(types.SET_GCC_USERS, []);
                _self.$store.commit(types.SET_GCC_USERS_IS_SELECTED);
                _self.$store.commit(types.RESET_MEMBERS_SELECTED);
            },
            toggleSubmitStatus(status) {
                if (status) {
                    this.isSaving = true;
                    return;
                }
                this.isSaving = false
            },
            addUsers() {
                this.toggleSubmitStatus(true);
                let data = {
                    userIDs: this.gccSelectedUserIDs,
                    threadId: this.currentThread.id,
                    userId: this.loggedUserId
                };

                apiAddThreadUsers(data, ({responseData}) => {
                    this.showToastSuccess('Success!', 'User(s) added to group');

                    let dataUpdate = {
                        threadId: responseData.threadId,
                        members: responseData.members
                    };

                    this.$store.commit(types.UPDATE_THREAD_MEMBERS, dataUpdate);

                    this.$bvModal.hide('add-members-form');
                    this.toggleSubmitStatus(false);
                }, () => {
                    this.showToastError('Error', 'Cannot add user(s) to group');
                    this.toggleSubmitStatus(false);
                });
            },
            checkIfAdded(userId) {
                if (this.currentThreadKey !== null) {
                    return this.currentThreadMemberIDs.some(eId => eId == userId);
                }
            },
            showViewModal() {
                this.$bvModal.hide('add-members-form');
                this.$bvModal.show('view-group-form');
            },
            searchMember() {
                this.isSearching = true;
                clearTimeout(this.isTypingTimeout);
                this.isTypingTimeout = setTimeout(() => {
                    let data = {
                        userId: this.loggedUserId,
                        filter: this.memberSearch
                    };
                    apiGetUserOptionsForGroup(data, ({responseData}) => {
                        this.$store.commit(types.SET_GCC_USERS, responseData.users);
                        this.$store.commit(types.SET_GCC_USERS_IS_SELECTED);
                        this.isSearching = false;
                    })
                }, this.typingTimeout)
            },
            selectMember(id) {
                let element = document.querySelector('[data-member-id="' + id + '"]');

                if (this.checkIfAdded(id)) {
                    return false;
                }

                if (!element.classList.contains('add-member-list-item--is-selected')) {
                    element.classList.add('add-member-list-item--is-selected');
                    document.querySelector('[data-member-id="' + id + '"] i').classList.add('text-success');
                    this.membersSelected = this.membersSelected.concat(id);
                    this.$store.commit(types.GCC_SELECT_USER, id);
                } else {
                    element.classList.remove('add-member-list-item--is-selected');
                    document.querySelector('[data-member-id="' + id + '"] i').classList.remove('text-success');
                    this.membersSelected = this.membersSelected.filter(function (value) {
                        return value !== id;
                    });
                    this.$store.commit(types.GCC_DESELECT_USER, id);
                }

                this.$store.commit(types.SET_SELECTED_GCC_USERS, this.membersSelected);
            },
            tooltip(e) {
                let body = this.$refs.refAddMemberList.getBoundingClientRect();
                let element = e.target.closest('li');
                let offsetTop = element.getBoundingClientRect().top - body.top;
                let offsetLeft = element.getBoundingClientRect().left - body.left;
                let wrapper = e.target.closest('li').children[0];

                wrapper.style.top = `${offsetTop + Math.round(element.getBoundingClientRect().width * 0.132)}px`;
                wrapper.style.left = offsetLeft + 15;
            }
        },
        watch: {
            isDisconnected(status) {
                if (status) {
                    this.$refs['refModalAddMembersForm'].hide();
                }
            }
        },
        mixins: [mixin]
    }
</script>

<style scoped lang="scss">
    @import '../assets/scss/chat';

    .add-member-list {
        height: 100%;
        list-style: none;
        margin: 0;
        overflow-y: auto;
        padding: 15px 0 0 0;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 4px;
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        &-container {
            height: 40vh;
        }

        &-search-loader,
        &-search__empty {
            align-items: center;
            display: flex;
            height: 100%;
            font-size: 16px;
            justify-content: center;
            text-align: center;
        }

        &-item {
            $item: &;
            clear: both;
            cursor: pointer;
            padding: 0 15px;
            position: static;
            user-select: none;

            &-wrapper {
                border-bottom: 1px dashed gray;
                display: block;
                line-height: 60px;
                position: relative;
                width: 100%;
            }

            &:hover > #{$item}__information-wrapper {
                display: block;
            }

            &--is-selected {
                background: #f1f0f0;
            }

            &__image {
                border: 1px solid $borders;
                border-radius: 50%;

                &-container {
                    display: inline-block;
                    line-height: 1;
                    position: relative;
                    vertical-align: middle;
                }
            }

            &__contact-name {
                display: inline-block;
                font-size: 20px;
                line-height: 1;
                margin-left: 10px;
                max-width: 350px;
                position: relative;
                text-overflow: ellipsis;
                top: 4px;
                white-space: nowrap;
                width: 100%;
            }

            &__check-container {
                position: absolute;
                font-size: 23px;
                line-height: 1;
                right: 0;
                top: 21px;
            }

            &__information {
                -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                background: rgba(255, 255, 255, .95);
                border: 1px solid $borders;
                box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                padding: 10px;
                width: 451px;

                &:before,
                &:after {
                    border: solid transparent;
                    bottom: 100%;
                    content: " ";
                    height: 0;
                    left: 4%;
                    position: absolute;
                    pointer-events: none;
                    width: 0;
                }

                &:after {
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #fff;
                    border-width: 14px;
                    margin-bottom: -1px;
                    margin-left: -14px;
                }

                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: $borders;
                    border-width: 14px;
                    margin-left: -14px;
                }

                &-wrapper {
                    display: none;
                    position: absolute;
                    z-index: 9;
                }

                &-image {
                    border: 1px solid $borders;
                    height: 96px;
                    width: 96px;
                }

                &-details {
                    font-size: 13px;
                    padding-top: 5px;

                    div {
                        line-height: 1.4;
                    }
                }
            }
        }
    }
</style>
