<template>
    <div class="chat-container">
        <chat-main-icon ref="chatMainIconWrap"/>
        <chat-main-body ref="chatMainBodyWrap" :company-url="companyUrl"/>
        <chat-main-modal-create-group ref="chatMainModalCreateGroupWrap"/>
        <chat-main-modal-view-group ref="chatMainModalViewGroupWrap"/>
        <chat-main-modal-confirm ref="chatMainModalConfirmWrap"/>
        <chat-main-modal-add-group-members ref="chatMainModalAddGroupMembersWrap"/>
    </div>
</template>

<script>
    import ChatMainBody from "./ChatMainBody";
    import ChatMainIcon from "./ChatMainIcon";
    import ChatMainModalCreateGroup from "./ChatMainModalCreateGroup";
    import ChatMainModalViewGroup from "./ChatMainModalViewGroup";
    import ChatMainModalConfirm from "./ChatMainModalConfirm";
    import ChatMainModalAddGroupMembers from "./ChatMainModalAddGroupMembers";
    import * as types from '../store/mutation-types';
    import {
        getUnreadMessagesCount as apiGetUnreadMessagesCount,
        broadcastStatus as apiBroadcastStatus,
        getOnlineUsers as apiGetOnlineUsers
    } from "../assets/api/resources";
    import mixin from '../mixins';
    import * as BLOB_IMAGES from "../assets/js/utility/blob-images";
    import Pusher from 'pusher-js/dist/web/pusher.min.js';
    import {mapGetters} from "vuex";

    export default {
        name: "ChatMain",
        components: {
            ChatMainBody,
            ChatMainIcon,
            ChatMainModalCreateGroup,
            ChatMainModalViewGroup,
            ChatMainModalConfirm,
            ChatMainModalAddGroupMembers
        },
        props: {
            canAddGroups: {
                type: String,
                default: 0
            },
            canManageGroups: {
                type: String,
                default: 0
            },
            loggedUserId: String,
            erpUrl: {
                type: String,
                default: ''
            },
            pusherAppId: String,
            pusherKey: String,
            pusherSecret: String,
            pusherCluster: String,
            profilePicture: {
                type: String,
                default: BLOB_IMAGES.DEFAULT_USER_AVATAR
            },
            companyUrl: {
                type: String,
                default: ''
            },
            isFromPos: {
                type: Boolean,
                default: false
            },
            notificationSoundUrl: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                connectionInterval: 0,
                isNotified: false,
                audio: null
            }
        },
        computed: {
            ...mapGetters({
                isDisconnected: 'isDisconnected'
            })
        },
        created() {
        },
        mounted() {
            let _self = this;

            setTimeout(() => {
                _self.checkConnectionInterval();
                _self.initializeAll();
            }, 3000);
        },
        methods: {
            checkConnectionInterval() {
                let _self = this;
                this.connectionInterval = setInterval(() => {
                    this.checkInternetConnection(_self.companyUrl).then((status) => {
                        if (!status) {
                            _self.setDisconnectedStatus(true);
                            clearInterval(_self.connectionInterval);
                            _self.$refs['chatMainBodyWrap'].startRetryCountdown(true);
                            console.log("Machine is offline. Please check your internet connection.");
                        }
                    });
                }, 5000);
            },
            getUnreadMessages() {
                let _self = this;

                return new Promise(function (resolve, reject) {
                    apiGetUnreadMessagesCount(_self.loggedUserId, ({responseData}) => {
                        _self.$store.commit(types.SET_TOTAL_UNREAD_COUNT, responseData.count);
                        resolve(true);
                    }, () => {
                        reject('Unable to get unread messages.')
                    });
                });
            },
            getOnlineUsers() {
                let _self = this;
                let data = {
                    userId: this.loggedUserId
                };

                return new Promise(function (resolve, reject) {
                    apiGetOnlineUsers(data, ({responseData}) => {
                        _self.$store.commit(types.SET_ONLINE_USERS, responseData.users);
                        resolve(true);
                    }, () => {
                        reject('Unable to get online users.')
                    });
                });
            },
            broadcastAsOnline() {
                let data = {
                    userId: this.loggedUserId,
                    status: '2'
                };

                return new Promise(function (resolve, reject) {
                    apiBroadcastStatus(data, ({responseData}) => {
                        resolve(true);
                    }, () => {
                        reject('Unable to set user as online.')
                    });
                });
            },
            setBinders() {
                const chatMainBody = this.$refs.chatMainBodyWrap.$refs.chatMainBody;
                const chatMainIcon = this.$refs.chatMainIconWrap.$refs.chatMainIcon;

                this.$root.$on('on::chatbox::close', () => {
                    if (this.effectTimeout) {
                        clearTimeout(this.effectTimeout)
                    }
                    this.effectTimeout = setTimeout(() => {
                        this.$store.commit(types.SET_COMPACT_CHAT_VISIBILITY, false);
                        chatMainBody.style.display = 'none';
                        chatMainIcon.removeAttribute('style');
                        chatMainIcon.setAttribute('class', 'chat-main-icon chat-main-icon--fade-in');
                    }, 220);
                });
                this.$root.$on('on::scroll::bottom', () => {
                    const refChatThreadBodyHistory = document.querySelector('#chatThreadBodyHistory');
                    setTimeout(() => {
                        if (
                            refChatThreadBodyHistory !== undefined &&
                            refChatThreadBodyHistory !== null
                        ) {
                            refChatThreadBodyHistory.scrollTop = refChatThreadBodyHistory.scrollHeight;
                        }
                    }, 10);
                });
            },
            setUserProfile() {
                this.$store.commit(types.SET_CAN_ADD_GROUPS, this.canAddGroups);
                this.$store.commit(types.SET_CAN_MANAGE_GROUPS, this.canManageGroups);
                this.$store.commit(types.INITIALIZE_USER_ID, this.loggedUserId);
                this.$store.commit(types.SET_USER_PROFILE_PHOTO, this.profilePicture);
                this.$store.commit(types.IS_FROM_POS, this.isFromPos);
            },
            setUserAsOffline() {
                let _self = this;

                window.addEventListener('beforeunload', () => {
                    let data = {
                        userId: _self.loggedUserId,
                        status: '1'
                    };
                    apiBroadcastStatus(data, ({responseData}) => {});
                }, false);
            },
            setPusherEvents() {
                let _self = this;
                let store = this.$store;

                return new Promise((resolve, reject) => {
                    // NOTE: `Pusher` declaration is inside `ProvidePlugin` of `./webpack.config.js`
                    let pusher = new Pusher(_self.pusherKey, {
                        cluster: _self.pusherCluster,
                        authEndpoint: `${_self.erpUrl}/chat/pusher/auth`
                    });
                    let channel, onlineUsersChannel;

                    onlineUsersChannel = pusher.subscribe('online-users');

                    onlineUsersChannel.bind('status-1', function (data) {
                        store.commit(types.REMOVE_ONLINE_USER, data.userId);
                    });

                    onlineUsersChannel.bind('status-2', function (data) {
                        store.commit(types.ADD_ONLINE_USER, data.userId);
                    });

                    onlineUsersChannel.bind('changed-name', function (data) {
                        store.commit(types.UPDATE_USER_NAME, data);
                    });

                    onlineUsersChannel.bind('changed-avatar', function (data) {
                        store.commit(types.UPDATE_USER_AVATAR, data);
                    });

                    channel = pusher.subscribe(`private-user-${_self.loggedUserId}`);

                    channel.bind('new-message', function (data) {
                        store.commit(types.RECEIVE_BROADCAST_MESSAGE, {data: data, isNew: true});
                        if (data.message.sender !== 'self') {
                            store.commit(types.SET_THREAD_HAS_UNREAD, data.thread.id);
                            store.commit(types.INCREMENT_TOTAL_UNREAD_COUNT);

                            // Check if user is notified
                            if (!_self.isNotified) {
                                _self.playNotificationAudio();
                            }
                        }
                    });

                    channel.bind('removed-from-thread', function (data) {
                        store.commit(types.REMOVE_THREAD, data.threadId);
                    });

                    channel.bind('participant-left', function (data) {
                        store.commit(types.OTHERS_LEFT_THREAD, data);
                    });

                    channel.bind('new-thread', function (data) {
                        store.commit(types.ADD_THREAD, data.thread);
                    });

                    channel.bind('seen-messages', function (data) {
                        store.commit(types.MARK_MESSAGES_AS_SEEN, data.message_ids);
                    });

                    resolve(true);
                })
            },
            playNotificationAudio() {
                let _self = this;
                // Set isNotified flag to true
                _self.isNotified = true;
                _self.audio.play()
                    .then(() => {
                        _self.resetNotificationSound();
                    }).catch(() => {
                        console.log('Chat: Notification cannot be played');
                        _self.resetNotificationSound();
                    });
            },
            initNotificationSound() {
                // NOTE: IF `notificationSoundUrl` is set or not empty
                if (this.notificationSoundUrl.length > 0) {
                    this.audio = new Audio(this.notificationSoundUrl);

                    // NOTE: IF browser does support `Audio` HTML5
                    if (this.audio !== undefined) {
                        this.audio.onerror = function() {
                            return console.log('Chat: Notification sound url is invalid');
                        };

                        return this.audio.load();
                    }

                    console.log('Audio is not supported in your browser');
                }
            },
            resetNotificationSound() {
                // Set isNotified flag to false after 2 seconds
                let _self = this;
                window.setTimeout(function() {
                    _self.isNotified = false;
                }, 2000);
            },
            initializeAll() {
                let _self = this;
                _self.setUserProfile();

                _self.setPusherEvents()
                    .then(() => _self.getUnreadMessages())
                    .then(() => _self.broadcastAsOnline())
                    .then(() => _self.getOnlineUsers())
                    .then(() => _self.$refs['chatMainBodyWrap'].$refs['chatMainBodyLeftPanel'].getThreads());

                _self.setBinders();

                // set the user as offline
                _self.setUserAsOffline();

                // setup notification sounds
                _self.initNotificationSound();
            }
        },
        mixins: [mixin]
    }
</script>

<style lang="scss">
    @import '~perfect-scrollbar/css/perfect-scrollbar.css';
    @import '../assets/scss/variables-override';
    @import '../assets/scss/bootstrap-custom';
    @import '../assets/scss/fonts';
    @import '~@fortawesome/fontawesome-free/scss/fontawesome';
    @import '~@fortawesome/fontawesome-free/scss/regular';
    @import '~@fortawesome/fontawesome-free/scss/solid';
    @import '../assets/scss/chat';
    @import '../assets/scss/styles';
    @import '../assets/scss/keyframes';
</style>

<style scoped lang="scss">
    .chat-container {
        position: relative;
        z-index: 999;

        @media only screen and (max-width: 767px) {
            position: relative;
            z-index: 10;
        }
    }
</style>