<template>
    <div
        ref="chatMainIcon"
        class="chat-main-icon"
        @click="toggleChatBox"
    >
        <div
            class="chat-main-icon__bubble"
            :class="{
                'chat-main-icon__bubble--is-disconnected': isDisconnected
            }"
        >
            <img
                ref="refChatIcon"
                class="chat-main-icon__bubble-image"
                :src="defaultMainChatIcon"
                title="Chat"
            >
            <span class="chat-main-icon__bubble-text">CHAT</span>
            <span
                class="chat-main-icon__bubble-total-unread"
                v-show="totalUnreadMessagesCount > 0"
            >{{totalUnreadMessagesCount}}</span>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import * as types from '../store/mutation-types';
    import {DEFAULT_MAIN_CHAT_ICON} from '../assets/js/utility/blob-images';
    import {
        setMessagesAsRead as apiSetMessagesAsRead
    } from "../assets/api/resources";

    export default {
        name: "ChatMainIcon",
        data() {
            return {
                effectTimeout: 0,
                defaultMainChatIcon: DEFAULT_MAIN_CHAT_ICON
            }
        },
        mounted() {
        },
        computed: {
            ...mapGetters({
                isChatOpen: 'isChatOpen',
                totalUnreadMessagesCount: 'totalUnreadMessagesCount',
                loggedUserId: 'loggedUserId',
                threadMessagesIDs: 'threadMessagesIDs',
                currentThread: 'currentThread',
                currentThreadID: 'currentThreadID',
                isDisconnected: 'isDisconnected',
            }),
        },
        methods: {
            toggleChatBox() {
                if (this.isChatOpen === false) {
                    this.$refs.chatMainIcon.setAttribute('class', 'chat-main-icon chat-main-icon--fade-out');
                    if (this.currentThreadID != null) {
                        let data = {
                            threadId: this.currentThread.id,
                            messageIDs: this.threadMessagesIDs,
                            userId: this.loggedUserId
                        };

                        apiSetMessagesAsRead(data, () => {
                        });
                    }
                }
                if (this.effectTimeout) {
                    clearTimeout(this.effectTimeout)
                }
                this.effectTimeout = setTimeout(() => {
                    this.$store.commit(types.SET_COMPACT_CHAT_VISIBILITY, !this.isChatOpen);
                    this.$refs.chatMainIcon.style.display = 'none';
                }, 200)
            },
        }
    }
</script>

<style scoped lang="scss">
    @import '../assets/scss/chat';

    .chat-main-icon {
        -moz-transition: all $chatAnimationDuration ease-in-out;
        -webkit-transition: all $chatAnimationDuration ease-in-out;
        bottom: $chat-icon-bottom;
        cursor: pointer;
        height: 50px;
        right: -90px;
        position: fixed;
        transition: all $chatAnimationDuration ease-in-out;
        transition-delay: 0.4s;

        &:hover {
            right: 0;
            transition-delay: 0s;
        }

        &--fade-out {
            animation: iconFadeOut $chatAnimationDuration ease-in-out;
        }

        &--fade-in {
            animation: iconFadeIn $chatAnimationDuration ease-in-out;
        }

        &__bubble {
            background: fiberpos-color('info');
            border-radius: 10px;
            height: 50px;
            margin-right: 15px;
            padding: 10px;
            position: relative;
            width: auto;

            &:after {
                border-bottom: 0;
                border-left: 23px solid transparent;
                border-right: 0;
                border-top: 13px solid fiberpos-color('info');
                bottom: 0;
                content: '';
                height: 0;
                margin-bottom: -13px;
                margin-left: -18px;
                position: absolute;
                right: 10px;
                width: 0;
            }

            &--is-disconnected {
                background: fiberpos-color('danger');

                &:after {
                    border-top-color: fiberpos-color('danger')
                }
            }

            &-image {
                background: #fff;
                border: 1px solid $borders;
                border-radius: 50%;
                color: #fff;
                float: left;
                height: 100%;
                max-width: 30px;
                padding: 2px;
                width: 100%;
            }

            &-text {
                color: #fff;
                font-size: 22.5px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                padding-left: 10px;
                position: relative;
                user-select: none;
            }

            &-total-unread {
                @include font-size(16px);
                align-items: center;
                animation: wobble .8s infinite ease-out;
                background-color: #e83600;
                border-radius: 50%;
                color: #fff;
                display: flex;
                font-weight: bold;
                height: 26px;
                justify-content: center;
                left: -4px;
                position: absolute;
                top: -14px;
                width: 26px;
            }
        }
    }
</style>