<template>
    <div class="textarea-emoji-picker">
        <input class="d-none" type="file" ref="file" @change="onFileChange">
        <picker
            ref="emojiPicker"
            :data="emojiIndex"
            v-show="showEmojiPicker"
            title="Pick your emoji..."
            emoji="point_up"
            @select="addEmoji"
            set="twitter"
        />

        <span
            class="emoji-trigger"
            :class="{ 'triggered': showEmojiPicker }"
            @mousedown.prevent="toggleEmojiPicker"
        >
			<i class="far fa-smile"></i>
		</span>

        <span
            class="attachment-trigger"
        >
			<i class="fas fa-paperclip" @click="$refs.file.click()"></i>
		</span>

        <textarea
            ref="textarea"
            id="message_textarea"
            class="textarea"
            rows="3"
            maxlength="255"
            placeholder="Say something here..."
            :value="value"
            @input="$emit('input', $event.target.value)"
            @click="checkEmojiPicker"
        ></textarea>
    </div>
</template>

<script>
    import 'emoji-mart-vue-fast/css/emoji-mart.css';
    import data from 'emoji-mart-vue-fast/data/messenger.json'
    import {Picker, EmojiIndex} from 'emoji-mart-vue-fast';

    import {mapGetters} from 'vuex';
    import * as messageStatusTypes from '../store/message-status-types.js';
    import * as types from '../store/mutation-types';
    import mixin from '../mixins';

    import moment from 'dayjs';
    import * as messageTypes from '../store/message-types.js';
    import {
        uploadChatFile as apiUploadChatFile
    } from "../assets/api/resources";

    export default {
        components: {Picker},
        props: {
            value: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                fileSizeDivisor: 1024,
                emojiIndex: new EmojiIndex(data),
                fileSizeLimitMB: 5,
                showEmojiPicker: false,
                imageFileTypes: ['jpg', 'jpeg', 'png', 'gif'],
                documentFileTypes: ['pdf', 'txt', 'doc', 'xls', 'xlsx', 'odt', 'csv', 'ppt', 'pptx']
            }
        },
        computed: {
            ...mapGetters({
                showMessagesSection: 'showMessagesSection',
                currentThread: 'currentThread',
                messages: 'messages',
                members: 'members',
                currentThreadKey: 'currentThreadKey',
                loggedUserId: 'loggedUserId',
                sortedMessages: 'sortedMessages',
                isLoadingHistory: 'isLoadingHistory',
                loggedUserProfilePhoto: 'loggedUserProfilePhoto',
                threadMessagesIDs: 'threadMessagesIDs',
                onlineUsers: 'onlineUsers'
            }),
        },
        methods: {
            onFileChange(event) {
                let file = event.target.files[0];
                let fileSize = (file.size/this.fileSizeDivisor)/this.fileSizeDivisor;

                if (!file) {
                    return;
                }

                if (fileSize > this.fileSizeLimitMB) {
                    alert(`Selected file exceeds size limitation of ${this.fileSizeLimitMB}MB`);
                    return false;
                }

                let extension = file.name.split('.').pop();
                let isImage = this.imageFileTypes.includes(extension);
                let isDocument = this.documentFileTypes.includes(extension);

                if (!isImage && !isDocument) {
                    alert('Selected file has an invalid extension.');
                    return;
                }

                let messageType = messageTypes.TEXT;

                if (isImage) {
                    messageType = messageTypes.IMAGE;
                } else if (isDocument) {
                    messageType = messageTypes.FILE;
                }

                if (typeof FileReader === 'function') {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        let now = new Date().getTime();
                        now = parseInt(moment(now).format("X"));

                        let text = file.name;
                        let payload = {
                            text,
                            thread: this.currentThread,
                            loggedUserId: this.loggedUserId,
                            profilePicture: this.loggedUserProfilePhoto,
                            messageType,
                            file,
                            blob: event.target.result
                        };

                        this.$store.dispatch('sendMessage', payload);
                    };
                    reader.readAsDataURL(file);
                } else {
                    alert('Sorry, FileReader API not supported');
                }

                this.$refs.file.value = '';
            },
            toggleEmojiPicker() {
                this.showEmojiPicker = !this.showEmojiPicker
            },
            checkEmojiPicker() {
                if (this.showEmojiPicker) {
                    this.showEmojiPicker = !this.showEmojiPicker
                }
            },
            addEmoji(emoji) {
                const textarea = this.$refs.textarea;
                const cursorPosition = textarea.selectionEnd;
                const start = this.value.substring(0, textarea.selectionStart);
                const end = this.value.substring(textarea.selectionStart);
                const text = start + emoji.native + end;
                this.$emit('input', text);
                textarea.focus();
                this.$nextTick(() => {
                    textarea.selectionEnd = cursorPosition + emoji.native.length
                })
            },
        }
    }
</script>

<style scoped lang="scss">
    .textarea-emoji-picker {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    textarea {
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-moz-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
            color: #ebedf2;
        }
    }

    .textarea {
        resize: none;
        padding: 10px 30px 10px 10px;
        position: relative;
        width: 100%;
        height: 100%;
        outline: none;
    }

    .emoji-mart {
        position: absolute;
        top: auto;
        right: 0;
        bottom: calc(100% + 3px);
    }

    .emoji-trigger {
        bottom: 7px;
        cursor: pointer;
        height: 20px;
        font-size: 18px;
        position: absolute;
        right: 35px;
        z-index: 2;

        path {
            transition: 0.1s all;
        }

        &:hover path {
            fill: #000000;
        }

        &.triggered {
            i {
                color: #5867dd;
            }

            path {
                fill: darken(#FEC84A, 15%);
            }
        }
    }

    .attachment-trigger {
        font-size: 1.125rem;
        position: absolute;
        bottom: 7px;
        right: 10px;
        cursor: pointer;
        height: 20px;
        z-index: 2;
    }
</style>
